<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="webthemez.com">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Home</title>
<link rel="stylesheet" href="../../css/music/bootstrap.min.css">
<link rel="stylesheet" href="../../css/music/flexslider.css">
<link rel="stylesheet" href="../../css/music/jquery.fancybox.css">
<link rel="stylesheet" href="../../css/music/main.css"> 
<link href="jPlayer-2.9.2/dist/skin/pink.flag/css/jplayer.pink.flag.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../../css/music/responsive.css">
<link rel="stylesheet" href="../../css/music/font-icon.css">
<link rel="stylesheet" href="../../css/music/animate.min.css">
<link rel="stylesheet" href="../../css/music/font-awesome.min.css">
</head>

<body>
<!-- header section -->
<section class="banner" role="banner" id="banner">
  <header id="header">
    <div class="header-content clearfix"> <span class="logo"><a href="index.html">Jason Zhang</a></span>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
		  <li><a href="#banner">主页</a></li>
          <li><a href="#intro">演艺经历</a></li>
          <!--<li><a href="#services">We Do</a></li>-->
          <li><a href="#Playlist">热门音乐</a></li>
		  <li><a href="#package">专辑</a></li>
          <li><a href="#gallery">音乐会</a></li>
          <li><a href="#teams">明星关系</a></li> 
          <!--<li><a href="#contact">Contact</a></li>-->
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
  <!-- banner text -->
  <div class="container">
    <div class="col-md-10">
      <div class="banner-text text-center">
        <h1>Music Reload</h1>
        <p>Hello Welcome To Music Event</p></div>
      <!-- banner text --> 
    </div>
  </div>
</section>
<!-- header section --> 
<!-- intro section -->
<section id="intro" class="section intro">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>最受欢迎男歌手</h3>
      <p>至今已发行12张唱片，举办51场个人演唱会，获33次“最受欢迎男歌手”和16次“最佳男歌手”奖，达成内地乐坛“最受欢迎男歌手”大满贯，三度献唱好莱坞电影，三度献唱央视春晚</p> 
        <a href="#Playlist" class="btn btn-large">Listening</a> 
    </div>
  </div>
</section>
<!-- intro section --> 
<!-- services section -->
<

<section id="Playlist" class="playlistList">
  <div class="container">
      <div class="section-header">
                <h2 class="wow fadeInDown animated">Listening</h2>
               
            </div>
    <div class="row">  
         <div id="jquery_jplayer_2" class="jp-jplayer"></div>
<div id="jp_container_2" class="jp-audio" role="application" aria-label="media player">
	<div class="jp-type-playlist">
		<div class="jp-gui jp-interface">
			<div class="jp-volume-controls">
				<button class="jp-mute" role="button" tabindex="0">mute</button>
				<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
				<div class="jp-volume-bar">
					<div class="jp-volume-bar-value"></div>
				</div>
			</div>
			<div class="jp-controls-holder">
				<div class="jp-controls">
					<button class="jp-previous" role="button" tabindex="0">previous</button>
					<button class="jp-play" role="button" tabindex="0">play</button>
					<button class="jp-stop" role="button" tabindex="0">stop</button>
					<button class="jp-next" role="button" tabindex="0">next</button>
				</div>
				<div class="jp-progress">
					<div class="jp-seek-bar">
						<div class="jp-play-bar"></div>
					</div>
				</div>
				<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
				<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
				<div class="jp-toggles">
					<button class="jp-repeat" role="button" tabindex="0">repeat</button>
					<button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
				</div>
			</div>
		</div>
		<div class="jp-playlist">
			<ul>
				<li>&nbsp;</li>
			</ul>
		</div>
		<div class="jp-no-solution">
			<span>Update Required</span>
			To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
		</div>
	</div>
</div>	
	 </div>
</section>	 
<!-- package section -->
<section id="package" class="packageList">
  <div class="container">
      <div class="section-header">
                <h2 class="wow fadeInDown animated">专辑唱片</h2>
            </div>
    <div class="row">  
            <div class="col-md-6">
            
            	<div class="package wow fadeInLeft animated" data-wow-offset="250" data-wow-delay="200ms">
                	<h5>未.LIVE</h5>
										<p>一个【正好的张杰】。</p>
										<p>最好的流行，无法定义，</p><br>
										<p>更好的未来，隐约知道，</p><br>
										<p>此时此刻，听见张杰，时机正好。</p><br>
										<p>正好，不想娱乐至死，只想心无旁骛，</p><br>
										<p>正好，愿意全力以赴，反正一如当初</p><br>
                    <strong class="price">2018</strong>
                </div><!-- end package -->
                
                <div class="package wow fadeInLeft animated" data-wow-offset="200" data-wow-delay="300m">
                	<h5>Just For Star洛杉矶</h5>
                    	<p>张杰「Just For Star」洛杉矶音乐会，适逢元宵佳节，因情谊相邀，为LIVE而聚。经年远隔山海的牵念，还给了音乐中的团圆。</p><br>
											<p>至·上班底</p><br>
											<p>整场演唱会由张杰亲力策划，并邀请国际顶尖幕后班底强势助阵。曾制作过Justin Timberlake、Coldplay等知名艺人高品质世界巡演的Nick Whitehouse担任导...</p>           
                    <strong class="price">2018</strong>
                </div><!-- end package -->
                
                <div class="package no-border wow fadeInLeft animated" data-wow-offset="150" data-wow-delay="400m" >
                	<h5>黑色勇气越爱越强</h5>
                	<p>在黑暗中磨亮希望 在坠跌中学会飞翔</p><br>
									<p>越相信越有力量 越敢爱就越强大</p><br> 
									<p>那些我还相信的爱与勇气</p><br>
									<p>就是梦想路上 虽微小却明亮的光芒</p><br>
									<p>越不被看好 越要坚持做到好看</p><br>
									<p>天空越是黑暗 星星越要发亮</p>
                    <strong class="price">2016</strong>
                </div><!-- end package -->
                
            </div><!-- end col-md-6 -->
            <div class="col-md-6">
            
            	<div class="package wow fadeInRight animated" data-wow-offset="250" data-wow-delay="500m" >
                	<h5>未.LIVE 3</h5>
                  <p>Live Is Thought</p><br>
									<p>Live，是思想，是坚强，</p><br>
									<p>是控诉时无意扣动扳机的枪；</p><br>
									<p>是信仰，是归乡，</p><br>
									<p>是用声音描摹的意象</p><br>
									<p>Live Is Change</p><br>
									<p>Live，是变化，是迸发，</p><br>
									<p>是等待与寻找间，偷偷盛开的野花；</p><br>
									<p>是...</p>
									<strong class="price">2018</strong>
                </div><!-- end package -->
                
                <div class="package wow fadeInRight animated" data-wow-offset="200" data-wow-delay="600m">
                	<h5>心光</h5>
									<p>我该为你成为一个怎样的人？</p><br>
									<p>我要如何才能与你共度难关？</p><br>
									<p>这一路走来，漫长而孤寂</p><br>
									<p>不过最庆幸的是有你在...</p><br>
                    <strong class="price">2018</strong>
                </div><!-- end package -->
                
                <div class="package no-border wow fadeInRight animated" data-wow-offset="150" data-wow-delay="700m">
                	<h5>不想想你</h5>
										<p>“不想想你”是音乐人陈少琪原创音乐剧“爱在星光里”的主题曲，是他为张学友音乐剧“雪狼湖” 原版编剧20年纪念的全</p><br>
										<p>新创作。故事发生在一个叫星光里的老式弄堂，这首歌是故事男主角童菲对青梅竹马的邻家女孩小柔心生思念，但不敢说出口</p><br>
										<p>而写的一首歌。前半段张杰的嗓音温暖而细腻，最后一段激情澎湃，完美演绎出男主内心的复杂情绪。</p>
                    <strong class="price">2018</strong>
                </div><!-- end package -->
                
            </div><!-- end col-md-6 -->
        </div><!-- end row -->    
  </div>
</section>
<!-- package section --> 

<!-- gallery section -->
<section id="gallery" class="gallery section">
  <div class="container-fluid">
    <div class="section-header">
                <h2 class="wow fadeInDown animated">Events</h2>
            </div>
    <div class="row no-gutter">
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="../../img/music/portfolio/01.jpg" class="work-box"> <img src="../../img/music/portfolio/01.jpg" style="height: 300px;">
        <div class="overlay">
          <div class="overlay-caption">
             <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="../../img/music/portfolio/02.jpg" class="work-box"> <img src="../../img/music/portfolio/02.jpg" style="height: 300px;" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="../../img/music/portfolio/03.jpg" class="work-box"> <img src="../../img/music/portfolio/03.jpg" style="height: 300px;" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="../../img/music/portfolio/04.jpg" class="work-box"> <img src="../../img/music/portfolio/04.jpg" style="height: 300px;" alt="">
        <div class="overlay">
          <div class="overlay-caption"> 
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="../../img/music/portfolio/05.jpg" class="work-box"> <img src="../../img/music/portfolio/05.jpg" style="height: 300px;" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="../../img/music/portfolio/06.jpg" class="work-box"> <img src="../../img/music/portfolio/06.jpg" style="height: 300px;" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="../../img/music/portfolio/07.jpg" class="work-box"> <img src="../../img/music/portfolio/07.jpg" style="height: 300px;" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="../../img/music/portfolio/08.jpg" class="work-box"> <img src="../../img/music/portfolio/08.jpg" style="height: 300px;" alt="">
        <div class="overlay">
          <div class="overlay-caption">
             <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
    </div>
  </div>
</section>
<!-- gallery section --> 

<!-- our team section -->
<section id="tours" class="section teams"> 
	<div class="container">
	    <div class="section-header">
                <h2 class="wow fadeInDown animated">Upcoming Shows</h2>
            </div>
		<div class="row">
			<div class="col-md-6">
				<img src="../../img/music/pic2.png" class="img-responsive" alt="">
			</div>
			<div class="col-md-6">
				<div class="col-md-11">
					<h3>未.LIVE巡回演唱会</h3>
					<ul class="tour-list">
						<li>
							<div class="tour-date">11<span>Aug<br><em>2018</em></span></div>
							<div class="tour-info">北京 </div>
						</li>
						<li>
							<div class="tour-date">24<span>Aug<br><em>2018</em></span></div>
							<div class="tour-info">太原 </div>
						</li>
						<li>
							<div class="tour-date">8<span>Sept<br><em>2018</em></span></div>
							<div class="tour-info">深圳 </div>
						</li>
						<li>
							<div class="tour-date">22<span>Sept<br><em>2018</em></span></div>
							<div class="tour-info">杭州 </div>
						</li>
						<li>
							<div class="tour-date">12<span>Oct<br><em>2018</em></span></div>
							<div class="tour-info">成都</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
 </section>

<!-- our team section -->
<section id="teams" class="section teams">
  <div class="container">
      <div class="section-header">
                <h2 class="wow fadeInDown animated">明星关系</h2>
            </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="person"><img src="../../img/music/team-1.jpg" alt="" class="img-responsive">
          <div class="person-content">
            <h4>谢娜</h4>
            <h5 class="role">妻子</h5>
            <p>中国内地主持人、歌手、影视女演员。</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"> <img src="../../img/music/team-2.png" alt="" class="img-responsive">
          <div class="person-content">
            <h4>段曦</h4>
            <h5 class="role">前女友</h5>
            <p>05年签约上腾娱乐，女子组合JADE成员。现主要从事导演、主持等工作。</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"> <img src="../../img/music/team-3.jpg" alt="" class="img-responsive">
          <div class="person-content">
            <h4>何炅</h4>
            <h5 class="role">好友</h5>
            <p>中国内地主持人、演员、歌手</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"> <img src="../../img/music/team-4.jpg" alt="" class="img-responsive">
          <div class="person-content">
            <h4>林俊杰</h4>
            <h5 class="role">好友</h5>
            <p>华语流行乐男歌手、词曲创作者、音乐制作人</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</footer>
<!-- Footer section --> 
<!-- JS FILES --> 
<script src="../../js/music/jquery.min.js"></script> 
<script src="../../js/music/bootstrap.min.js"></script> 
<script src="../../js/music/jquery.flexslider-min.js"></script> 
<script src="../../js/music/jquery.fancybox.pack.js"></script> 
<script src="../../js/music/retina.min.js"></script> 
<script src="../../js/music/modernizr.js"></script> 
<script src="../../js/music/main.js"></script> 
<script type="text/javascript" src="../../js/music/jquery.contact.js"></script> 

<script type="text/javascript" src="../../js/music/jPlayer-2.9.2/dist/jplayer/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="../../js/music/jPlayer-2.9.2/dist/add-on/jplayer.playlist.min.js"></script> 
<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
 
	new jPlayerPlaylist({
		jPlayer: "#jquery_jplayer_2",
		cssSelectorAncestor: "#jp_container_2"
	}, [
		{
			title:"逆战",
			mp3:"https://music.163.com/#/search/m/?s=%E9%80%86%E6%88%98&type=1",
			oga:"http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg"
		},
		{
			title:"我在这",
			mp3:"http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3",
			oga:"http://www.jplayer.org/audio/ogg/TSP-05-Your_face.ogg"
		},
		{
			title:"我们都一样",
			mp3:"http://www.jplayer.org/audio/mp3/TSP-07-Cybersonnet.mp3",
			oga:"http://www.jplayer.org/audio/ogg/TSP-07-Cybersonnet.ogg"
		},
		{
			title:"何必在一起",
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-01-Tempered-song.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-01-Tempered-song.ogg"
		},
		{
			title:"天下",
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-02-Hidden.ogg"
		},
		{
			title:"明天过后",
			free:true,
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-03-Lentement.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-03-Lentement.ogg"
		},
		{
			title:"这，就是爱",
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-04-Lismore.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-04-Lismore.ogg"
		},
		{
			title:"看月亮爬上来",
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-05-The-separation.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-05-The-separation.ogg"
		},
		{
			title:"骄傲的选择",
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-06-Beside-me.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-06-Beside-me.ogg"
		},
		{
			title:"心光",
			free:true,
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-07-Bubble.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
		},
		{
			title:"不想想你",
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-08-Stirring-of-a-fool.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-08-Stirring-of-a-fool.ogg"
		},
		{
			title:"只为美好",
			free: true,
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-09-Partir.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-09-Partir.ogg"
		},
		{
			title:"真假",
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-10-Thin-ice.mp3",
			oga:"http://www.jplayer.org/audio/ogg/Miaow-10-Thin-ice.ogg"
		}
	], {
		swfPath: "../../js/music/jPlayer-2.9.2/dist/jplayer",
		supplied: "oga, mp3",
		wmode: "window",
		useStateClassSkin: true,
		autoBlur: false,
		smoothPlayBar: true,
		keyEnabled: true
	});
});
//]]>
</script>
</body>
</html>