<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>客户服务</title>
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/foot.css" />
		<link rel="stylesheet" href="../css/header.css" />
		<link rel="stylesheet" href="../css/homepage_body.css" />
		<link rel="stylesheet" href="../css/customer-service.css" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<style type="text/css">
			
		</style>
	</head>
	<body>
		
		<header class="container header"style="overflow-x: hidden;overflow-y: hidden;">
			<div class="div1" >
				<a href="home_page.html" style="position: absolute;top: 5%;left: 3%;">
					<img src="../img/logo.png" />
				</a>
				<div class="myarea">
					<ul class="breadcrumb" style="background-color: #000000;">
    					<li><a href="#">登录</a></li>
   						<li><a href="#">注册</a></li>
					</ul>
				</div>
				<div class="text mynav">
					&nbsp;
				</div>
				<div class="text" style="color: white;">
					车型
					<div class="mbox">
					</div>
				</div>
				<div class="text"style="color: white;">
					购车指南
					<div class="mbox"  style="padding-left: 10%;padding-right: 10%;">
						<div style="margin-bottom: 30px;">
							<h1>购车指南</h1>
						</div>
						<div class="row" style="margin-bottom: 70px;">
							<div class="col-md-3">
								<a href="#"><img src="../img/guide/440240banner.jpg" width="100%"/>心意所属，远行相伴</a>
								<p style="font-size: 12px;padding-top: 5px;">在线预订GLE SUV、GLE轿跑SUV、GLS SUV任意一款，得限量好礼。</p>
							</div>
							<div class="col-md-3">
								<a href="#"><img src="../img/guide/special-offer.jpg" width="100%"/>限时购车新方案</a>
								<p style="font-size: 12px;padding-top: 5px;">提供人性化的选车和购车方案，让购车体验更多元，更轻松。</p>
							</div>
							<div class="col-md-3">
								<a href="#"><img src="../img/guide/Dealer_Locator.png" width="100%"/>查找经销商</a>
								<p style="font-size: 12px;padding-top: 5px;">根据服务项目及贩售车型，筛选出符合您需求的经销商。</p>
							</div>
							<div class="col-md-3">
								<a href="#"><img src="../img/guide/Financial_Calculator.png" width="100%"/>金融计算器</a>
								<p style="font-size: 12px;padding-top: 5px;">提供各种弹性购车的新方案，您可以根据预算来进行试算。</p>
							</div>
						</div>
						<div  style="margin-bottom: 70px;">
							<a href="#"><img src="../img/guide/Test_Drive.png" width="23%"><p>预约试驾</p></a>
							<p style="font-size: 12px;padding-top: 5px;">选择您心仪的车型，联系经销商，即刻体验梅赛德斯-奔驰。</p>
						</div>
						<hr />
						<div class="collapse navbar-collapse"  id="example-navbar-collapse" style="padding-bottom: 3%;">
							<ul class="nav navbar-nav">
								<li><a href="#" >在线购车</a></li>
				           		<li><a href="#">咨询销售信息</a></li>
				           		<li><a href="#">下载产品手册</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="text"style="color: white;">
					客户指南
					<div class="mbox"></div>
				</div>
				<div class="text" style="color: white;">
					<a href="#">mercedes me</a>
				</div>
				<div class="text" style="color: white;">
					<a href="#">梅赛德斯</a>
				</div>
			</div>
		</header>
		
		<div id="myCarousel" class="carousel slide">
		    <!-- 轮播（Carousel）指标 -->
		    <ol class="carousel-indicators">
		        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		        <li data-target="#myCarousel" data-slide-to="1"></li>
		    </ol>   
		    <!-- 轮播（Carousel）项目 -->
		    <div class="carousel-inner">
		        <div class="item active">
		            <img src="../img/customer-service/untitled.png" class="img-responsive mypicture" alt="First slide">
		            <div class="">
		            	
		            </div>
		        </div>
		        <div class="item">
		            <img src="../img/customer-service/untitled1.png" class="img-responsive mypicture" alt="Second slide">
		        </div>
		    </div>
		    <!-- 轮播（Carousel）导航 -->
		    <a class="carousel-control left" href="#myCarousel" 
		       data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></a>
		    <a class="carousel-control right" href="#myCarousel" 
		       data-slide="next"><span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
		</div>
		
		
		<div id="new-title" class="title myfont" style="padding-top: 100px;">车辆保养及维修</div>
		<div class="repair-div">
			<div >
				<div class="repair-div1">
					<div class="img-div">
						<a href="#"><img class="repair-img" src="../img/customer-service/untitled2.png" ></span></a>
					</div>
					<b>车辆保养</b></br>
					<legend></legend>
					<a href="#">星徽保养菜单</a></br>
					<legend></legend>
					<a href="#">原厂保养套餐</a></br>
					<legend></legend>
					<a href="#">快修服务</a></br>
					<legend></legend>
					<a href="#">原厂配件</a></br>
					<legend></legend>
					<a href="#">手机端服务体验</a>
					<legend></legend>
				</div>
				<div class="repair-div1">
					<div class="img-div">
						<a href="#"><img class="repair-img" src="../img/customer-service/untitled3.png" ></span></a>
					</div>
					<b>车辆维修</b></br>
					<legend></legend>
					<a href="#">三包及保修政策</a></br>
					<legend></legend>
					<a href="#">事故救援与保险</a></br>
					<legend></legend>
					<a href="#">钣喷服务</a></br>
					<legend></legend>
					<a href="#">原厂延保套餐</a></br>
					<legend></legend>
					<a href="#">24小时道路救援</a>
					<legend></legend>
				</div>
			</div>
		</div>
		
		<div id="new-title" class="title myfont" style="padding-top: 100px;">原厂修养套餐家族</div>
		<div class="service-set-div">
			<div class="service-set">
				<img style="width: 100%;" src="../img/customer-service/untitled5.png"/>
			</div>
			<div class="font-model">
				<b>为你所需&nbsp;在当下更在长远</b>
			</div>
			<div class="font-model">
				梅赛德斯-奔驰精心打造的原厂修养套餐家族，致力于升级您的驾乘体验。您可根据具体驾驶情况，选择由不同期限、里程和服务内容组合的套餐
			</div>
			<div class="font-model" style="background-color: #00ADEF;width: 200PX;padding: 10px;">
				<a href="#"><span style="color: #FFFFFF;">了解更多</span></a>
			</div>
		</div>
		
		<div id="new-title" class="title myfont" style="padding-top: 100px;">原厂配件</div>
		<div class="service-set-div">
			<div class="service-set">
				<img style="width: 100%;" src="../img/customer-service/untitled4.png"/>
			</div>
			<div class="font-model">
				<b>梅赛德斯-奔驰原厂配件，以品质助您安享驾驭</b>
			</div>
			<div class="font-model">
				惬意之旅，亦是无忧之行。梅赛德斯-奔驰原厂配件，源于汽车发明者的品质保障，精准契合每一部星徽座驾运转，让旅程更安心。更历经严苛测试以及层层质检，确保更换后驾乘体验焕然如初。
			</div>
			<div class="font-model" style="background-color: #00ADEF;width: 200PX;padding: 10px;">
				<a href="#"><span style="color: #FFFFFF;">了解更多</span></a>
			</div>
		</div>
		
		<div id="new-title" class="title myfont" style="padding-top: 100px;">查找经销商</div>
		<div class="service-map">
			
				<iframe src="map2.html" frameborder="0" width="100%" height="550px"></iframe>
			
		</div>
		
		<div id="new-title" class="title myfont" style="padding-top: 100px;">即刻体验手机端服务</div>
		<div class="mobile-div" style="margin-bottom: 50px;">
			<div class="mobile-img1">
				<img style="width: 100%;" src="../img/customer-service/untitled6.jpg"/>
			</div>
			<div class="mobile-img2">
				<img style="width: 100%;" src="../img/customer-service/untitled7.png"/>
			</div>
			<div style="font-size: 16px; color:#333333; text-align: center; margin-top: 20px;">
				<b>关注梅赛德斯-奔驰客户服务官方微信号 </b>
			</div>
		</div>
		
		<div class="p">
			<div>
			<ul>
				<li class="char1">车型</li>
				<li class="char2"><a href="#">轿车</a></li>
				<li class="char2"><a href="#">SUV</a></li>
				<li class="char2"><a href="#">轿车和敞篷跑车</a></li>
			    <li class="char2"><a href="#">MPV</a></li>
				<li class="char2"><a href="#">EQC</a></li>
				<li class="char2"><a href="#">车型总览</a></li>
			</ul>
       		</div>
			<div>
				<ul>
					<li class="char1">购车指南</li>
					<li class="char2"><a href="#">在线购车</a></li>
					<li class="char2"><a href="#">限时购车新方案</a></li>
					<li class="char2"><a href="#">查找经销商</a></li>
				    <li class="char2"><a href="#">金融计算器</a></li>
					<li class="char2"><a href="#">预约试驾</a></li>
					<li class="char2"><a href="#">下载手册</a></li>
				</ul>
			</div>
			<div style="display: inline">
				<ul>
					<li class="char1">客户服务</li>
					<li class="char2"><a href="#">星徽保养菜单</a></li>
					<li class="char2"><a href="#">原厂修养套餐家族</a></li>
					<li class="char2"><a href="#">手机端服务体验</a></li>
				    <li class="char2"><a href="#">原厂配件</a></li>
					<li class="char2"><a href="#">事故与保险服务</a></li>
					<li class="char2"><a href="#">24小时道路救援</a></li>
					<li class="char2"><a href="#">召回通知</a></li>
					<li class="char2"><a href="#">留学回国人员购车业务</a></li>
					<li class="char2"><a href="#">金融服务</a></li>
				</ul>
			</div>
			<div style="display: inline">
				<ul>
					<li class="char1">奔驰天下</li>
					<li class="char2"><a href="#">Mercedes me</a></li>
					<li class="char2"><a href="#">品牌介绍</a></li>
					<li class="char2"><a href="#">奔驰新闻</a></li>
				    <li class="char2"><a href="#">企业社会责任</a></li>
					<li class="char2"><a href="#">奔驰驾驶学院</a></li>
					<li class="char2"><a href="#">供应商信息平台</a></li>
					<li class="char2"><a href="#">环保信息清单</a></li>
					<li class="char2"><a href="#">奔驰杂志</a></li>
					<li class="char2"><a href="#">星友荟</a></li>
				</ul>
			</div>
			<div class="clear">
			<hr />
			</div>
			<div ><p class="char1">其他奔驰网站</p>
		          <span><a href="#">Mercedes me</a></span>
		          <span><a href="#">星瑞认证二手车</a></span>
		          <span><a href="#">She'sMercedes</a></span>
		          <span><a href="#">金融服务</a></span>
			</div>
			<br />
			<hr />
			<p class="char1">关注我们</p>
			<div>
				<span><a href="#"><img src="../img/homepage/wechat_mouse_over.png"width="40px"height="40px"/></a></span>
				<span><a href="#"><img src="../img/homepage/sina_mouse_over.png"width="40px"height="40px"/></a></span>
				<span><a href="#"><img src="../img/homepage/zhihu_mouse_over.png"width="40px"height="40px"/></a></span>
			</div>
		</div>	
		
		<script src="../plugins/jquery/jquery.min.js"></script>
		<script src="../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script>
			$('#myCarousel').carousel({
				interval:5000
			})
		</script>
	</body>
</html>
