<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/header.css" />
		<title>梅赛德斯-迈巴赫S级轿车</title>
		<style type="text/css">
			.dropdown {
			  position: relative;
			  display: inline-block;
			}
			.dropdown-content {
			  display: none;
			  position: absolute;
			  background-color: #f9f9f9;
			  min-width: 160px;
			  
			  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);*/
			  padding: 12px 705px;
			}
			.dropdown:hover .dropdown-content {
			  display: block;
			}
			.div2{
				border: 0px;
				height: 300px;
				padding-top:70px ;
				padding-left:20%; 
			}
			/*.div3{
				height: 500px;
				
			}*/
			.div4{
				padding-left: 250px;
				margin-top:60px ;
			}
			.div5{
				padding-left: 250px;
				margin-top: 300px;
			}
			.div6{
				height: 280px;
				background-color: #EEEEEE;
			}
			.div7{
				height: 750px;
				background-color: #EEEEEE;
	
			}
			.div8{
				border: 0px;
				height: 200px;
				padding-top:70px ;
				padding-left:15%; 
			}
			.div9{
				padding-left: 250px;
				margin-top:-4px ;
				padding-top: 50px;
			}
			.div10{
				height: 1200px;
				background-color: #EEEEEE;
	
			}
		</style>
	</head>
	<body>
		<header class="container header"style="overflow-x: hidden;overflow-y: hidden;">
			<div class="div1" >
				<a href="home_page.html" style="position: absolute;top: 5%;left: 3%;">
					<img src="../img/logo.png" />
				</a>
				<div class="myarea">
					<ul class="breadcrumb" style="background-color: #000000;">
    					<li><a href="#">登录</a></li>
   						<li><a href="#">注册</a></li>
					</ul>
				</div>
				<div class="text mynav">
					&nbsp;
				</div>
				<div class="text" style="color: white;">
					车型
					<div class="mbox">
						<div class="mmp" style="padding-left: 200px;">
						    <h1>所有车型</h1>
						    <br />
						    <a href="#轿车"><font size="5" color="black">轿车</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
						    <a href="#SUV"> <font size="5" color="black">SUV</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						    <a href="#轿跑车&敞篷跑车"><font size="5" color="black"> 轿跑车&敞篷跑车</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						    <a href="#MPV"><font size="5" color="black"> MPV</font></a>
						    <div id="轿车" style="height: 850px;">
							    <div class="col-md-3">
								    <img src="../img/cars/L400.png" height="70%"width="70%">&nbsp;&nbsp;&nbsp;
							   		<div>
							   	 		<h3>S级</h3><br />
							   			<a href="">
							    		<h4>S级轿车</h4>
							    		<p>￥86.38万起</p>
							    		</a>
							    		<br />
							    		<a href="">
							    		<h4>梅赛德斯-迈巴赫S级轿车</h4>
							    		<p>￥140.88万起</p>
							   			 </a>
							    		<br />
							    		<a href="">
							   			 <h4>梅赛德斯-AMG S 63 L 
							    			<br />
							    			<br/>
							    			4MATIC+
							    			<br />
							    			<br />
							               		梅赛德斯-AMG S 65 L</h4>
							    		<p>￥232.88万起</p>
							    		</a>
							    	</div>
							    </div>
								<div class="col-md-3">
							
									<img src="../img/cars/L400 (1).png" height="70%"width="70%">&nbsp;&nbsp;&nbsp;
							    	
							 		<div></div>
							   		<div>
							   	 		<h3>E级</h3><br />
							   			<a href="">
							    		<h4>长轴距E级轿车</h4>
							    		<p>￥43.58万起</p>
							    		</a>
							    		<br />
							    		<a href="">
							    		<h4>长轴距E级运动轿车</h4>
							    		<p>￥43，58万起</p>
							   			 </a>
							    		<br />
							    		<a href="">
							   			 <h4>标准轴距E级车运动版</h4>
							    		<p>￥43.58万起</p>
							    		</a>
							    		<br />
							    		<a href="">
							    			<h4>梅赛德斯-AMG E 43 4MATIC
							    			<br />
							    			<br />
							    			特别版
							    			</h4>
							    			<p>￥91.88万起</p>
							    		</a>
							    		<br />
							    		<a href="">
							    			<h4>全新梅赛德斯-AMG E 63 S 
							    				<br/><br />
							    				4MATIC+特别版
							    			</h4>
							    			<p>￥166.88万起</p>
							    		</a>
								    </div>
								</div>
								<div class="col-md-3">
									<img src="../img/cars/L400 (2).png" height="70%"width="70%"/>
									<div></div>
							   		<div>
							   	 		<h3>C级</h3><br />
							   			<a href="">
							    		<h4>长轴距C级运功轿车</h4>
							    		<p>￥31.58万起</p>
							    		</a>
							    		<br />
							       		<a href="">
							   			 <h4>标准轴距C级车运动版</h4>
							    		<p>￥31.88万起</p>
							    		</a>
							    		<br />
							    		<a href="">
							    			<h4>长轴距C级轿车</h4>
							    			<p>￥32.38万起</p>
							    		</a>
							    		<br />
							    		<a href="">
							    			<h4>新一代C级旅行轿车</h4>
							    			<p>￥36.38万起</p>
							    		</a>
							    		<br />
							    		<a href="">
							    			<h4>新一代梅赛德斯-AMG C 43 
							    				<br/><br />
							    				4MATIC
							    			</h4>
							    			<p>￥61.88万起</p>
							    		</a>
							    		<br />
							    		<a href="">
							    			<h4>新一代梅赛德斯-AMG C 63</h4>
							    			<p>￥94.18万起</p>
							    		</a>
								    </div>
								</div>
								<div class="col-md-3">
									<img src="../img/cars/L400 (3).png" height="70%"width="70%" />
									<div></div>
							   		<div>
							   	 		<h3>A级</h3><br />
							   			<a href="">
							    		<h4>全新长轴距A级轿车</h4>
							    		<p>￥21.69万起</p>
							    		</a>
							    		<br />
							    		<a href="">
							    		<h4>A级车</h4>
							    		<p>￥21.98万起</p>
							   			 </a>
							    		<br />
							    		<a href="">
							   			 <h4>梅赛德斯-AMG A 45 4 MATIC</h4>
							    		<p>￥46.38万起</p>
							    		</a>
							    		<br />
									</div>
								</div>
							</div>
						  	<div id="SUV" style="height: 800px;">
						    	<div class="col-md-3">
						    		<img src="../img/cars/Vehicle.png"height="70%"width="70%" />&nbsp;&nbsp;&nbsp;&nbsp;
						    		<div>
						    			<h3>G级</h3><br />
						    			<a href="#"><h4>全新G级越野车</h4>
						    			<p>￥158.88万起</p>
						    			</a>
						    			<br />
						    			<a href="#"><h4>全新梅赛德斯-AMG G 63</h4>
						    			<p>￥219.88万起</p>
						    			</a>
						    		</div>
						    	</div>
								<div class="col-md-3">
									<img src="../img/cars/1.png"height="70%"width="70%" />&nbsp;&nbsp;&nbsp;&nbsp;
						    		    <div> 
						    			<h3>GLS</h3>
						    			<br />
						    			<a href="#"><h4>GLS SUV</h4>
						    			<p>￥102.28万起</p>
						    			</a>
						    			<br />
						    			<a href="#"><h4>梅赛德斯-AMG GLS 63
						    			<br />
						    			4MATIC
						    			</h4>
						    			<p>￥198.18万起</p>
						    			</a>
						    			</div>
						    	</div>
						    	<div class="col-md-3">
						    		<img src="../img/cars/L400 (4).png"height="70%"width="70%" />&nbsp;&nbsp;&nbsp;&nbsp;
						    		<div> 
						    			<h3>GLE</h3>
						    			<br />
						    			<a href="#"><h4>GLE SUV</h4>
						    			<p>￥73.98万起</p>
						    			</a>
						    			<br />
						    			<a href="#"><h4>GLE轿跑SUV</h4>
						    			<p>￥86.08万起</p>
						    			</a>
						    			<br />
						    			<a href="#"><h4>梅赛德斯-AMG GLE 43
						    			<br />
						    			4MATIC
						    			</h4>
						    			<p>￥100.68万起</p>
						    			</a>
						    			<br />
						    			<a href="#"><h4>梅赛德斯-AMG GLS 63
						    			<br />
						    			4MATIC
						    			</h4>
						    			<p>￥179.88万起</p>
						    			</a>
						    			<br />
						    			<a href="#"><h4>梅赛德斯-AMG GLS 43
						    			<br />
						    			4MATIC 轿跑 SUV
						    			</h4>
						    			<p>￥105.98万起</p>
						    			</a>
						    			<br />
						    			<a href="#"><h4>梅赛德斯-AMG GLS 63
						    			<br />
						    			4MATIC 轿跑 SUV
						    			</h4>
						    			<p>￥192.18万起</p>
						    			</a>
						    		</div>
						    	</div>
								<div class="col-md-3">
						    		<img src="../img/cars/400-162.png"height="70%"width="70%" />&nbsp;&nbsp;&nbsp;&nbsp;
						    		<div> 
						    			<h3>GLC</h3>
						    			<br />
						    			<a href="#"><h4>新梅赛德斯-奔驰长轴距GLC<br />
						    			SUV
						    			</h4>
						    			<p>￥42.98万起</p>
						    			</a>
						    			<br />
						    			<a href="#"><h4>GLC轿跑SUV</h4>
						    			<p>￥46.38万起</p>
						    			</a>
						    			<br />
						    			<a href="#"><h4>梅赛德斯-AMG GLC 43
						    			<br />
						    			4MATIC
						    			</h4>
						    			<p>￥65.18万起</p>
						    			</a>
						    			<br />
						    			<br />
						    			<a href="#"><h4>梅赛德斯-AMG GLC 43
						    			<br />
						    			4MATIC 轿跑 SUV
						    			</h4>
						    			<p>￥67.98万起</p>
						    			</a>
						    			<a href="#"><h4>梅赛德斯-AMG GLC 63
						    			<br />
						    			4MATIC
						    			</h4>
						    			<p>￥98.80万起</p>
						    			</a>
						    			
						    			<br />
						    			<a href="#"><h4>梅赛德斯-AMG GLC 63
						    			<br />
						    			4MATIC 轿跑 SUV
						    			</h4>
						    			<p>￥101.80万起</p>
						    			</a>
						    		</div>
						    	</div>
						  	</div>
						  	<div id="轿跑车&敞篷跑车" style="height: 650px;">
						  	  	<div class="col-md-3">
						  			<img src="../img/cars/L400 (5).png"height="70%"width="70%" />&nbsp;&nbsp;&nbsp;&nbsp;
						    		<div>
						    			<h3>CLS</h3>
						    			<br />
						    			<a href="#"><h4>全新CLS四门轿跑车</h4>
						    			<br />
						    			<p>￥64.88万起</p>
						    			</a>
						    		</div>
						  		</div>
						  		<div class="col-md-3">
						  			<img src="../img/cars/L400 (6).png"height="70%"width="70%" />&nbsp;&nbsp;&nbsp;&nbsp;
						    		<div>
						    			<h3>E级</h3>
						    			<br />
						    			<a href="#"><h4>E级轿跑车</h4>
						    			<br />
						    			<p>￥52.88万起</p>
						    			</a>
						    			<br />
						    			<a href="#"><h4>全新E级敞篷轿跑车</h4>
						    			<br />
						    			<p>￥64.28万起</p>
						    			</a>
						    		</div>
						  		</div>
						  		<div class="col-md-3">
						  			<img src="../img/cars/L400 (7).png"height="70%"width="70%" />&nbsp;&nbsp;&nbsp;&nbsp;
						    		<div>
						    			<h3>C级</h3>
						    			<br />
						    			<a href="#"><h4>新一代C级轿跑车</h4>
						    			<br />
						    			<p>￥36.98万起</p>
						    			</a>
						    			<br />
						    			<a href="#"><h4>新一代梅赛德斯-AMG C43<br />
						    			4MATIC 轿跑车
						    			</h4>
						    			<br />
						    			<p>￥64.88万起</p>
						    			</a>
						    			<br />
						    			<a href="#"><h4>新一代梅赛德斯-AMG C63 轿<br />
						    			跑车
						    			</h4>
						    			<br />
						    			<p>￥97.18万起</p>
						    			</a>
						    		</div>
						  		</div>
								<div class="col-md-3">
									<img src="../img/cars/L400 (8).png"height="70%"width="70%" />&nbsp;&nbsp;&nbsp;&nbsp;
						    		<div>
						    			<h3>SLC</h3>
						    			<br />
						    			<a href="#"><h4>SLC敞篷跑车</h4>
						    			<br />
						    			<p>￥51.88万起</p>
						    			</a>
									</div>
								</div>
							</div>
							<div id="MPV" style="height: 300px;">
									<div class="col-md-3">
						  			<img src="../img/cars/L400 (9).png"height="70%"width="70%" />&nbsp;&nbsp;&nbsp;&nbsp;
						    		<div>
						    			<h3>V级</h3>
						    			<br />
						    			<a href="#"><h4>V级豪华多功能车</h4>
						    			<br />
						    			<p>￥48.50万起</p>
						    			</a>
						    		</div>
						  		</div>
									<div class="col-md-3">
										<img src="../img/cars/400-162 (1).png"height="70%"width="70%" />&nbsp;&nbsp;&nbsp;&nbsp;
						    		<div>
						    			<h3>Vito</h3>
						    			<br />
						    			<a href="#"><h4>威霆高端商务车</h4>
						    			<br />
						    			<p>￥29.60万起</p>
						    			</a>
									</div>
							</div>
						</div>
					</div>
					</div>
				</div>
				<div class="text"style="color: white;">
					购车指南
					<div class="mbox"  style="padding-left: 10%;padding-right: 10%;">
						<div style="margin-bottom: 30px;">
							<h1>购车指南</h1>
						</div>
						<div class="row" style="margin-bottom: 70px;">
							<div class="col-md-3">
								<a href="#"><img src="../img/guide/440240banner.jpg" width="100%"/>心意所属，远行相伴</a>
								<p style="font-size: 12px;padding-top: 5px;">在线预订GLE SUV、GLE轿跑SUV、GLS SUV任意一款，得限量好礼。</p>
							</div>
							<div class="col-md-3">
								<a href="#"><img src="../img/guide/special-offer.jpg" width="100%"/>限时购车新方案</a>
								<p style="font-size: 12px;padding-top: 5px;">提供人性化的选车和购车方案，让购车体验更多元，更轻松。</p>
							</div>
							<div class="col-md-3">
								<a href="#"><img src="../img/guide/Dealer_Locator.png" width="100%"/>查找经销商</a>
								<p style="font-size: 12px;padding-top: 5px;">根据服务项目及贩售车型，筛选出符合您需求的经销商。</p>
							</div>
							<div class="col-md-3">
								<a href="#"><img src="../img/guide/Financial_Calculator.png" width="100%"/>金融计算器</a>
								<p style="font-size: 12px;padding-top: 5px;">提供各种弹性购车的新方案，您可以根据预算来进行试算。</p>
							</div>
						</div>
						<div  style="margin-bottom: 70px;">
							<a href="#"><img src="../img/guide/Test_Drive.png" width="23%"><p>预约试驾</p></a>
							<p style="font-size: 12px;padding-top: 5px;">选择您心仪的车型，联系经销商，即刻体验梅赛德斯-奔驰。</p>
						</div>
						<hr />
						<div class="collapse navbar-collapse"  id="example-navbar-collapse" style="padding-bottom: 3%;">
							<ul class="nav navbar-nav">
								<li><a href="#" >在线购车</a></li>
				           		<li><a href="#">咨询销售信息</a></li>
				           		<li><a href="#">下载产品手册</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="text"style="color: white;">
					<a href="#">客户服务</a>
				</div>
				<div class="text" style="color: white;">
					<a href="#">mercedes me</a>
				</div>
				<div class="text" style="color: white;">
					<a href="#">梅赛德斯</a>
				</div>
			</div>
		</header>

		<div style="position: relative;width: 100%;height: auto;">
		<img src="../img/梅赛德斯-迈巴赫S级轿车/KV-update.jpg" width="100%"/>
		<div style="position: absolute;width: 100%;z-index:1;top: 100px;">
			<h4 align="center"style="color: white;">梅赛德斯-迈巴赫S级轿车</h4>
			<h2 align="center"style="color: white;">礼待天下</h2>
			<h4 align="center"style="color: white;">——</h4>
			<h5 align="center"style="color: white;">梅赛德斯-迈巴赫S级轿车，为尊崇而生，殊荣尽展，礼行天下。</h5>
		</div>
		</div>
		<div style="position: relative; background-color:lightgray;height: 70px;">
			<div style="position:absolute ;width: 100%;top: 20px;">
				<font style="padding-left: 15%;">*厂商建议零售价 ¥ 140.88 万起/月供 ¥ 6,932起</font>
			</div>
			<div class="dropdown" style="width:100%;top: 20px;">
				
			  <span style="padding-left:60% ;">购买工具</span>
			  <div class="dropdown-content" style="width: 100%;top: 20px;">
			  <p> <a href="#">金融计算器</a> </p>
			    <p><a href="#">车型配置</a> </p>
			    <p><a href="#">预约试驾</a></p>
			    <p><a href="#">下载产品手册</a></p>
			    <p><a href="#">查找经销商</a></p>
			  </div>
			</div>
			<div style="padding-left: 70%;">
			<a href="#"><button type="button"style="background-color: gray;color: white;">预约试驾</button>	</a>
			<a href="#"><button type="button"style="background-color: skyblue;color: white;">即刻在线预定</button></a>
			</div>
			
		</div>
		<div class="div2">
			<font style="color: lightgray;">
				————————————————————
			</font>
				<font style="font-size:30px;">礼，体也。言得事之体也</font>
			<font style="color: lightgray;">
				—————————————————————
			</font>
			<br /><br /><br /><br />
			<p style="padding-left: 40px;font-size: 20px;">君子之礼，自观于貌，自察于行。梅赛德斯-迈巴赫S级轿车，尽释无上尊礼之设计。周全礼道，气当自华。</p>
		</div>
		<img src="../img/梅赛德斯-迈巴赫S级轿车/BANNER1-PC.jpg"width="100%" />
		
				<div class="div4">
				<img src="../img/梅赛德斯-迈巴赫S级轿车/feature4-4.jpg"style="position: relative;width: 520px;height: 320px;"/>
				<div style="position: absolute;margin-top: -250px;margin-left: 600px;">
				<font size="5">远程几何多光束LED大灯，享明晰之礼</font><br /><br /><br />
				<font size="4">远程几何多光束LED大灯可根据当前道路及交通状况对</br>
					行车灯进行快速、准确的调节，84颗LED灯泡都可单独><br />
					控制，准确开启。如果系统未在直线方向上探测到其他<br />
					车辆，远光灯的照明距离可扩展至更远，令视野更为明<br />
					开阔，独享明晰视界</font>

				</div>
				</div>
				<br /><br />
				<div class="div5">
					<div style="position: absolute;margin-top: -250px;">
					<font size="5">可调光全景式天窗 (MAGIC SKY CONTROL)，享<br />
						明朗之礼</font><br /><br /><br />
					<font size="4">只需按下一个按钮，可调光全景式天窗 (MAGIC SKY<br />
						 CONTROL) 即可为您带来敞篷体验。2段式全景滑动天<br />
						 窗可于几秒钟内在深色与透明色之间切换。该天窗的每<br />
						 段透明度均可单独进行调节。在深色状态下，车顶可明<br />
						 显阻止车内温度升高。</font>
					<img src="../img/梅赛德斯-迈巴赫S级轿车/4601.jpg"style="position: relative;margin-left: 600px;
						margin-top: -250px;
						width: 520px;height: 320px;"/>
					</div>
				</div>
				<div class="div6"style="margin-top: 420px;">
						<h2 style="padding:80px 35%;color: gray;">中不偏，庸不易，适者为礼也</h2>
						<p style="font-size: 18px;padding-left:20% ;">不偏之谓中，不易之谓庸，梅赛德斯-迈巴赫S级轿车，坚持大道之法，令澎湃动力适时为您所用。</p>
				</div>
				<div >
					<img src="../img/梅赛德斯-迈巴赫S级轿车/feature_2_pc.jpg"width="100%" />
				</div>
					
		<div class="div7">
				<div class="div9">
				<img src="../img/梅赛德斯-迈巴赫S级轿车/SSPIP15574.jpg"style="position: relative;width: 520px;height: 320px;"/>
				<div style="position: absolute;margin-top: -250px;margin-left: 600px;">
				<font size="5">V12双涡轮发动机，享澎湃之礼</font><br /><br /><br />
				<font size="4">令人惊叹的发动机设计，带来无限澎湃动力。呈60度夹</br>
					角排列的12个气缸确保了平稳的运行特性。压铸镁材质<br />
					的气缸盖罩，重量更轻。高品质合金可以保护发动机免<br />
					受腐蚀，并赋予组件极强的耐热性。</font>

				</div>
				</div>
				<br /><br />
				<div class="div5">
					<div style="position: absolute;margin-top: -250px;">
					<font size="5">9速自动变速箱，享顺畅之礼</font><br /><br /><br />
					<font size="4">9速自动变速箱（9G-TRONIC）具有9个前进档，将效<br />
						率、舒适性和动态性提升至全新水平，更快、更平顺的<br />
						换档操作令其魅力十足。在保持出众性能的同时提高了<br />
						驾乘舒适性，且降低了噪声级与油耗。</font>
					<img src="../img/梅赛德斯-迈巴赫S级轿车/feature2-2.jpg"style="position: relative;margin-left: 600px;
						margin-top: -250px;
						width: 520px;height: 320px;"/>
					</div>
				</div>
			</div>
		<div class="div8">
			<font style="color: lightgray;">
				————————————————————
			</font>
				<font style="font-size:30px;">唯境界之礼，君子能慎其独也</font>
			<font style="color: lightgray;">
				—————————————————————
			</font>
			<br /><br /><br /><br />
			<p style="padding-left: 16%;font-size: 20px;">礼道之盛，不言而喻，梅赛德斯-迈巴赫S级轿车，匠心独具，为极致礼仪而生。</p>
		</div>
					<img src="../img/梅赛德斯-迈巴赫S级轿车/14404.jpg"width="100%" />
		
				<div class="div4">
				<img src="../img/梅赛德斯-迈巴赫S级轿车/4602.jpg"style="position: relative;width: 520px;height: 320px;"/>
				<div style="position: absolute;margin-top: -250px;margin-left: 600px;">
				<font size="5">车内空气调节组件(AIR BALANCE)，享芳香之礼</font><br /><br /><br />
				<font size="4">车辆内部可通过车内空气调节组件(AIR BALANCE)，</br>
					根据个人喜好营造芳香四溢的怡人氛围。该组件提供有><br />
					6种优质车内香氛，可根据个人喜好进行选择，香氛的	<br />
					浓度和持续时间可调。另外，负离子发生器和经过优化<br />
					的进气和循环空气滤清器还可以改善空气质量。</font>

				</div>
				</div>
				<div class="div5">
					<div style="position: absolute;margin-top: -250px;">
					<font size="5">Burmester® 高端3D环绕立体声音响系统，享琼音之礼 (MAGIC SKY CONTROL)，<br />
						享琼音之礼 (MAGIC SKY CONTROL)，</font><br /><br /><br />
					<font size="4">系统配有26个扬声器和一个带有源分频的28信道数字<br />
						 信号处理器（DSP）放大器，带来出色的单声道和立体<br />
						 声音效。音响系统不仅实现了令人印象深刻的声音再现<br />
						 效果和虚拟环绕立体声效果，而且3D环绕立体声功能<br />
						 还可提供三维听觉体验，让您尽聆琼音华章。</font>
					<img src="../img/梅赛德斯-迈巴赫S级轿车/3_2.jpg"style="position: relative;margin-left: 600px;
						margin-top: -250px;
						width: 520px;height: 320px;"/>
					</div>
				</div>
				<div class="div6"style="margin-top: 420px;">
						<h2 style="padding:80px 25%;color: gray;">————————
							礼者，亦有雅人深致也
					——————————</h2>
						<p style="font-size: 18px;padding-left:27% ;">雅人深致，格调自然高远，梅赛德斯-迈巴赫S级轿车，处处研精致思，致敬于礼。</p>
				</div>
				<div >
					<img src="../img/梅赛德斯-迈巴赫S级轿车/14402.jpg"width="100%" />
				</div>
					
		<div class="div7">
				<div class="div9">
				<img src="../img/梅赛德斯-迈巴赫S级轿车/3_1.jpg"style="position: relative;width: 520px;height: 320px;"/>
				<div style="position: absolute;margin-top: -250px;margin-left: 600px;">
				<font size="5">头等舱级后排独立座椅，享舒适之礼</font><br /><br /><br />
				<font size="4">商务区控制台从前排中央控制台一直延伸到后部行李</br>
					架，将后排变成了带有2个独立座椅的移动办公室。2个 <br />
					USB接口、2个12伏插座以及2个控温杯座，共同打造 />
					出舒适的旅行与工作环境。还可以通过选装装备进一步<br />
					提升后排独立座椅的功能性与舒适性。
				</font>

				</div>
				</div>
				<br /><br /><br /><br />
				<div class="div5">
					<div style="position: absolute;margin-top: -250px;">
					<font size="5">畅心醒神功能，享安适之礼</font><br /><br /><br />
					<font size="4">结合多种车载舒适系统，畅心醒神功能（ENERGIZING<br />
						舒适）融入大量舒适功能， 可实现气候控制、香氛喷<br />
						雾、照明效果、音乐／视频以及座椅按摩功能。</font>
					<img src="../img/梅赛德斯-迈巴赫S级轿车/feature3-3.jpg"style="position: relative;margin-left: 600px;
						margin-top: -250px;
						width: 520px;height: 320px;"/>
					</div>
				</div>
			</div>
			<div class="div6"style="margin-top: -20px;">
						<h2 style="padding:80px 23%;color: gray;">————————
							礼，诚于中，形于外，诚者自成
					————————</h2>
						<p style="font-size: 18px;padding-left:22% ;">君子诚之为贵， 明乎此理，方可称为有“智” ，梅赛德斯-迈巴赫S级轿车，天生尊崇，自拥智慧之道。</p>
				</div>
				<div >
					<img src="../img/梅赛德斯-迈巴赫S级轿车/KV-update.jpg"width="100%" />
				</div>
					
		<div class="div10">
				<div class="div9">
				<img src="../img/梅赛德斯-迈巴赫S级轿车/feature4-1.jpg"style="position: relative;width: 520px;height: 320px;"/>
				<div style="position: absolute;margin-top: -250px;margin-left: 600px;">
				<font size="5">驾驶室管理和数据系统，享缤纷之礼</font><br /><br /><br />
				<font size="4">驾驶室管理和数据系统以及联网功能（COMAND </br>
					Online）集信息娱乐、导航和通信系统于一身,将诸多 <br />
					信息显示在一个31.2厘米（12.3英寸）的高分辨率媒体 </br>
					显示屏上。硬盘导航可与“实时路况信息”服务提供的<br />
					实时交通数据相结合，助您快速导航到目的地。
				</font>
				</div>
				</div>
				<br /><br />
				<div class="div5">
					<div style="position: absolute;margin-top: -250px;">
					<font size="5">不带控制器的触摸板</font><br /><br /><br />
					<font size="4">借助触摸板，您可以直观地控制显示在媒体显示屏上的<br />
						信息，如同控制智能手机一样。仅需使用多指手势，即<br />
						可轻松切换或放大相关内容。每次确认输入时，用户均<br />
						可获得触觉反馈。如果您希望安静地输入地址或电话号<br />
						码，则可以使用触摸板的手写体识别功能。
					</font>
					<img src="../img/梅赛德斯-迈巴赫S级轿车/迈巴赫S-触控板.jpg"style="position: relative;margin-left: 600px;
						margin-top: -250px;
						width: 520px;height: 320px;"/>
					</div>
						<br /><br />		
				<img src="../img/梅赛德斯-迈巴赫S级轿车/maybach-feature1.jpg"style="position: relative;width: 520px;height: 320px;"/>
				<div style="position: absolute;margin-top: -250px;margin-left: 600px;">
				<font size="5">多向遥控泊车，享泰然之礼</font><br /><br /><br />
				<font size="4">凭借多向遥控泊车，驾驶员甚至无需坐在车辆中，便能<br />
					够轻松地将车辆挪入／驶出停车位，令泊车轻而易举。
				</font>
				</div>
				</div>
				</div>
			</div>
			<div class="div6"style="margin-top: -50px;">
						<h1 style="padding:80px 20%;color: gray;">————————
							迈巴赫S 680 双调典藏型
					——————</h1>
						
				</div>
				<div >
					<img src="../img/梅赛德斯-迈巴赫S级轿车/banner-PC.jpg"width="100%" />
				</div>
					
		<div class="div7">
				<div class="div9">
				<img src="../img/梅赛德斯-迈巴赫S级轿车/feature.jpg"style="position: relative;width: 520px;height: 320px;"/>
				<div style="position: absolute;margin-top: -250px;margin-left: 600px;">
				<font size="5">双色漆面，享尊贵之礼</font><br /><br /><br />
				<font size="4">曾经，双色漆面是经典迈巴赫的尊贵象征，凸显了梅赛</br>
					德斯-迈巴赫S级轿车的豪华格调和尊贵气场。现在，双 <br />
					色漆面为高端客户开启高级订制的选择，并将根据客户<br />
					需求提供四种双色漆面个性搭配方案，并匹配专属内饰<br />
					色彩。
				</font>

				</div>
				</div>
				<br /><br />
				<div class="div5">
					<div style="position: absolute;margin-top: -250px;">
					<font size="5">designo尊贵版诗米安（半苯胺）皮革内饰，<br />
						享精致之礼</font><br /><br /><br />
					<font size="4">采用独特菱形设计、带装饰纽扣和布达佩斯滚边的精致<br />
						designo诗米安（半苯胺）皮饰座椅，呈现绰绝品质和<br />
						精湛技艺之感。仪表板中央部分和中央扶手均采用源自<br />
						座椅的菱形绗缝图案，彰显和谐一致的外观。精雅内饰<br />
						营造出豪华氛围，更带来愉悦的感官享受。
					</font>
					<img src="../img/梅赛德斯-迈巴赫S级轿车/feature680.jpg"style="position: relative;margin-left: 600px;
						margin-top: -250px;
						width: 520px;height: 320px;"/>
					</div>
				</div>
			</div>
	<script src="../plugins/jquery/jquery.min.js"></script>
	<script src="../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>
</html>
