<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>通知/申请：：狱警：：好再来监狱</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- 引入 Bootstrap -->
		<link href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			/*通知模块*/
			.c1{
				
				width: 70%;

				margin: auto;
				height:300px;
				position: absolute;
				float: left;
				top: 50px;
				right: 15%;		
			}
			/*申请模块*/
            .c2{
					border: 1px;
					background-color:lightgray ;
					width: 15%;
				   height:100px;
				width: 10%;
				
				/*设置圆角*/
				border-radius: 20px;
				/*设置边框的阴影*/
				box-shadow: 2px 2px 4px #000;
				}
			
		</style>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<nav class="navbar navbar-default" role="navigation"style="background-image:url(../img/timg4.jpg) ;">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="#"></a>
						</div>
					</div>	
				</nav>
			</div>

		</div>
		<br>
		<div class="c1">
			<h2 align="center"><font color="darkred"> 通知</h2>
			
		</div>
		<div class="c2">
			<h2 align="center">申请</h2>
		
			
			
		</div>
		<script src="../plugins/jquery/jquery.min.js"></script>
		<!--引入bootstrap.min.js-->
		<script src="../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>

</html>