<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>囚犯管理</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- 引入 Bootstrap -->
		<link href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			  body{
			  	background-color: white;
			  }
			.c1{
			  	border: 2px solid white ;
			  	width: 600px;
			  	height: 500px;
			  	position: absolute;
			  	float: left;
			  	left: 200px;
			  	top: 100px;
			  	background-color:lightgrey;
			  	
			  }
		</style>
	</head>
	<body>
		<a href="../index.html"><p align="right">退出账号</p></a>
		
		<center><font size="7"color="grey">囚犯管理</font></center>
		<br />
		<div class="c1">
			<br />
			<form class="form-horizontal" method="post">
			<div class="form-group">
							<label for="firstname" class="col-sm-2 control-label">囚犯：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" id="firstname" placeholder="请输入囚犯姓名">
							</div>
			</div>
			<hr>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;工作工时：     <select>--请您选择--
				<option>6</option>
				<option>8</option>
				<option>10</option>
				<option>12</option>
			</select>
			<hr>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;休息时间：<select>--请您选择--
			         <option>12：00——13:00</option>
			         <option>13：00——14:00</option>
			         <option>17：00——18:00</option>
			         
			</select>
			<hr />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;生活区域：<select>--请您选择--
				     <option>东狱区</option>
				     <option>西狱区</option>
				     <option>南狱区</option>
				     <option>北狱区</option>
				   
			</select>
			<hr />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;工作分配：         <select>--请您选择--
				    <option>机械加工</option>
				    <option>产品制造</option>
				    <option>砸石头</option>
				    <option>织布</option>
			</select>
			<hr />
			<center><button type="submit" class="btn btn-default"><a align>提交</button></center>
			
						
			</form>
		</div>

		<script src="../plugins/jquery/jquery.min.js"></script>
		<!--引入bootstrap.min.js-->
		<script src="../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>
</html>
