<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<!--引入bootstrap样式-->
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		<style type="text/css">
		body{
			background-image: url(../img/狱警1.jpg)
		}
		.a{
		background-image: url(../img/logo_bg.png)}
		</style>
	</head>
		<nav class="navbar navbar-default" role="navigation">
		    <div class="container-fluid">
			    <div class="navbar-header">
			        <a class="navbar-brand" href="#">好再来监狱</a>
			    </div>
			    <div>
			        <ul class="nav navbar-nav">
			            <li class="active"><a href="hyj-tongzhi.html">刑期变更通知</a></li>
			            <li class="active"><a href="hyj-shouyazhuce.html">收押人员注册</a></li>
			            <li class="active"><a href="hyj-chongsheng.html">提回重申申请</a></li>
			            <li><a href="http://www.court.gov.cn/">守法一生，幸福一生</a></li>
			            <li><a href="../index.html">退出登录</a></li>
			            </li>
			        </ul> 
			    </div>
		    </div>
		</nav>
		<!-- 导航结束 -->

		
		<!--引入jquery-->
		<script src="../plugins/jquery/jquery.min.js"></script>
		<!--引入bootstrap.min.js-->
		<script src="../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script>
		$('#myCarousel').carousel({interval: 1000})
	</body>
</html>
