<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		<title>狱警管理</title>
    <link rel="stylesheet" type="text/css" href="../css/warden-yz.css"/>
	</head>
	<body>
    <!-- 导航 -->
		<nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">好再来监狱</span>
            <small class="navbar-text">一个充满人文关怀的监狱</small>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li>
              <a href="warden_home-yz.html">监狱管理</a>
            </li>
            <li class="active">
              <a href="#">狱警管理</a>
            </li>
            <li>
              <a href="prisoner_manage-yz.html">囚犯管理</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- 导航结束 -->
    
    <div class="outer">
     <div class="my-left-nav">
        <ul class="nav nav-pills nav-stacked nav-left">
          <li role="presentation">
            <button type="button" class="btn btn-default btn-lg btn-block my-left-nav-btn" onclick="location.href='#'">
							<a href="#">狱警一览</a>
            </button>
          </li>
          <li role="presentation">
            <button type="button" class="btn btn-default btn-lg btn-block my-left-nav-btn" onclick="location.href='#'">
              <a href="#">工作分配</a>
            </button>
          </li>
          <li role="presentation">
            <button type="button" class="btn btn-default btn-lg btn-block my-left-nav-btn" onclick="location.href='#'">
              <a href="#">出勤统计</a>
            </button>
          </li>
          <li role="presentation">
            <button type="button" class="btn btn-default btn-lg btn-block my-left-nav-btn" onclick="location.href='#'">
              <a href="#">薪金奖励</a>
            </button>
          </li>
        </ul>
      </div>
      <!-- my-left-nav结束 -->
      
      <div class="my-body">
      	<h1>好再来监狱<small>——狱警一览</small></h1>
        <hr>

        <table class="table my-table-hover my-table" border="1" cellspacing="5" cellpadding="5">
        	<caption><h3>狱警列表</h3></caption>
        	<thead>
        		<tr>
        			<th>狱警编号</th>
        			<th>狱警姓名</th>
        			<th>管理区域</th>
        			<th>月薪（元）</th>
        			<th>行为评分</th>
        		</tr>
        	</thead>
        	<tbody>
        		<tr>
        			<td>145219</td>
        			<td>Mr Huang</td>
							<td>C</td>
							<td>3400</td>
							<td>15</td>
        		</tr>
        		<tr>
        			<td>145319</td>
        			<td>Mr Huang</td>
							<td>C</td>
							<td>3400</td>
							<td>12</td>
        		</tr>
        		<tr>
        			<td>145119</td>
        			<td>Mr Huang</td>
							<td>E</td>
							<td>3400</td>
							<td>3</td>
        		</tr>
        		<tr>
        			<td>145249</td>
        			<td>Mr Huang</td>
							<td>A</td>
							<td>3400</td>
							<td>10</td>
        		</tr>
        	</tbody>
        </table>
      </div>
      <!-- my-body结束 -->
      
    </div>
    <!-- outer结束 -->
		
		
		<!-- 引入jquery -->
		<script src="../plugins/jquery/jquery.min.js"></script>
		<!-- 引入bootstrap.min.js -->
		<script src="../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>
</html>
