<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- 引入 Bootstrap -->
		<link href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			body{
				background:url(../img/daohang01_zsj.jpg);
			}
			
			.c1{
				width: 70px;
				height: 20px;
				float: left;
				
			}
			.c2{
				width: 530px;
				background-color: white;
				float: left;
				left: 30%;
				position: absolute;
				top: 30%;
				padding: 20px;
			}
		    .c3{
		    	width: 330px;
				height:500px;
				background-color: white;
				float: left;
				left: 5%;
				
				position: absolute;
				top: 60%;
				padding: 20px;
		    	
		    }
		    .c4{
		    	width: 330px;
				height:800px;
				background-color: white;
				float: left;
				left: 75%;
				
				position: absolute;
				top: 60%;
				padding: 20px;
		    	
		    }
			
		</style>
		
		
	</head>

	<body>
		    <!-- 导航 -->
		<nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="container-fluid">
        
        <div>
          <ul class="nav navbar-nav">
          	<li>
              <a >好再来监狱</a>
            </li>
          	<li>
              <a href="qiufanguanli_zsj.html">囚犯管理</a>
            </li>
            <li>
              <a href="yujing_first-zsj.html">通知</a>
            </li>
            <li>
              <a href="qiangzhi_zsj.html">枪支申请</a>
            </li>
           <div class="c1">
           	<a href="../index.html"><p align="right">退出账号</p></a>
           </div>
            
          </ul>
        </div>
      </div>
    </nav>
       <!-- 导航结束 -->
       <center><h1><b>新闻动态</b></h1></center>
       
       <div class="c2">
       	<font size="4"><b>监狱动态</b></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       	<a title="更多减刑假释公示"  target="_blank">更多&gt;&gt;</a>
       	<hr />
       	   <img src="../img/tongzhi01_zsj.png"/>
       	   <center>隆重纪念“红烛”精神凝练传承30周年</center>
       	   <hr />
       	   <img src="../img/tongzhi02_zsj.png" />
       	   <center>监狱深入开展大督查工作</center>
       	   <hr />
       	   <img src="../img/tongzhi03_zsj.png"/>
       	   <center>监狱召开构建以政治改造为统领的“五大改造”新格局工作座谈会</center>
       </div>
       <div class="c3">
       	
       	<font size="4"><b>社会关注</b></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       	<a title="更多减刑假释公示"  target="_blank">更多&gt;&gt;</a>
       	<hr />
       	<ul>
       		
       	
       	<li><a title="上海监狱老年服刑人员改造------监狱里的晚年" class="f12"  target="_blank">上海监狱老年服刑人员改造------监狱...</a></li>
       	<li><a title="女子监狱外国籍女性服刑人员改造，从一部音乐剧开始……" class="f12"  target="_blank">女子监狱外国籍女性服刑人员改造，从一部音...</a></li>
       	<li><a title="上海监狱“春风化雨”，用中国文化教育改造外国籍服刑人员" class="f12"  target="_blank">上海监狱“春风化雨”，用中国文化教育改造...</a></li>
       	<li><a title="时空隧道内的沧桑痕迹  上海提篮桥监狱百年寻迹（下）" class="f12"  target="_blank">时空隧道内的沧桑痕迹  上海提篮桥监狱百...</a></li>
       	<li><a title="岁月年轮里的红黑故事 上海提篮桥监狱百年寻迹" class="f12"  target="_blank">岁月年轮里的红黑故事 上海提篮桥监狱百年...</a></li>
       	<li><a title="时光检视下的黑白镜像 上海提篮桥监狱百年寻迹" class="f12"  target="_blank">时光检视下的黑白镜像 上海提篮桥监狱百年...</a></li>
       	</ul>
       </div>
       <div class="c4">
       	<font><b>&nbsp;&nbsp;&nbsp;&nbsp;公示公告</b></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       	<a title="更多减刑假释公示"  target="_blank">更多&gt;&gt;</a>
       	<hr />
       	<ul>
       		<li><a title="上海市监狱管理局大宗物资采购管理委员会招标公告"  target="_blank">上海市监狱管理局大宗物资采购管理委员会招标公告</a><span>2018-11-21</span></li>
       		<li><a title="上海市监狱管理局“马上办、网上办、就近办、一次办”审批服务事项目录公告"  target="_blank">上海市监狱管理局“马上办、网上办、就近办、一次办”审批服务事项目录公告</a><span>2018-10-31</span></li>
       		<li><a title="国务院办公厅开通“国家政务服务投诉与建议”小程序 广泛接收政务服务问题线索和意见建议"  target="_blank">国务院办公厅开通“国家政务服务投诉与建议”小程序 广泛接收政务服务问题线索和意见建议</a><span>2018-10-22</span></li>
       		<li><a title="“群众办事百项堵点疏解行动”第五季"  target="_blank">“群众办事百项堵点疏解行动”第五季</a><span>2018-08-30</span></li>
       		<li><a title="“群众办事百项堵点疏解行动”"  target="_blank">“群众办事百项堵点疏解行动”</a><span>2018-08-15</span></li>
            <li><a title="我为大督查提建议"  target="_blank">我为大督查提建议</a><span>2018-07-23</span></li>
            <li><a title="“群众办事百项堵点疏解行动”"  target="_blank">“群众办事百项堵点疏解行动”</a><span>2018-07-10</span></li>
            <li><a title="上海市监狱管理局三类罪犯减刑、假释、暂予监外执行情况上海市监狱管理局三类罪犯减刑、假释、暂予监外执行情况公示(2018-06)"  target="_blank">上海市监狱管理局三类罪犯减刑、假释、暂予监外执行情况上海市监狱管理局三类罪犯减刑、假释...</a><span>2018-06-29</span></li>
            <li><a title="“群众办事百项堵点疏解行动”"  target="_blank">“群众办事百项堵点疏解行动”</a><span>2018-05-25</span></li>
            
       	</ul>
       	
       </div>
       

       
		<script src="../plugins/jquery/jquery.min.js"></script>
		<!--引入bootstrap.min.js-->
		<script src="../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>

</html>