<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<!--引入bootstrap样式-->
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		<style type="text/css">
		.a{
		background-image: url(../img/logo_bg.png)}
		</style>

	</head>
	<body>
	
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">好再来监狱</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="刑期变更通知.html">刑期变更通知</a></li>
            <li class="active"><a href="收押人员注册.html">收押人员注册</a></li>
            <li class="active"><a href="提回重审申请.html">提回重申申请</a></li>
            <li><a href="http://www.court.gov.cn/">守法一生，幸福一生</a></li>
            
            <!--<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                             提回重申申请
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">jmeter</a></li>
                    <li><a href="#">EJB</a></li>
                    <li><a href="#">Jasper Report</a></li>
                    <li class="divider"></li>
                    <li><a href="#">分离的链接</a></li>
                    <li class="divider"></li>
                    <li><a href="#">另一个分离的链接</a></li>
                </ul>-->
            </li>
        </ul> 
		<!--引入jquery-->
		
		<script src="../plugins/jquery/jquery.min.js"></script>
		<!--引入bootstrap.min.js-->
		<script src="../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script>
		$('#myCarousel').carousel({
    interval: 1000
})
    </div>
    </div>


</nav>

		
		<!--引入jquery-->
		
		<script src="../plugins/jquery/jquery.min.js"></script>
		<!--引入bootstrap.min.js-->
		<script src="../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>
</html>
