<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>提回重审申请</title>
		<!--引入bootstrap样式-->
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		<style type="text/css">
		.mya{
			background-color: brown;
		}
		.myb{
			width:600px;
			padding:50px;
			/*设置圆角*/
			border-radius: 20px;
			/*设置边框的阴影*/
			box-shadow: 2px 2px 4px #000;
		}
			
		}

		</style>
	</head>
	<body>
		<div align="center" class="myb" style="margin: auto;"><legend class="mya">提回重审申请</legend>
		<form action="#" autocomplete="on" method="get">
			ID&nbsp;&nbsp;&nbsp;:<input type="text" name="prision_id" oninput="value=value.replace(/[^\d]/g,'')"><br>
			姓名:<input type="text" name="prision_name" /><br>
			<fieldset>申诉内容：</fieldset>
			<textarea name="a" style="width:400px;height:180px;"></textarea><br>
			<button type="button" class="btn btn-primary" onclick="">提交</button>
			</div>
		</form>
			
		
		<!--引入jquery-->
		
		<script src="../plugins/jquery/jquery.min.js"></script>
		<!--引入bootstrap.min.js-->
		<script src="../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>
</html>
