<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../css/trav.css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/trav.css/style.css" rel="stylesheet" type="text/css" />
    <link href="../css/trav.css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../img/trav.img/favicon.ico" rel="shortcut icon" />
    <link href="https://fonts.googleapis.com/css?family=Lato:700,900%7CDidact+Gothic" rel="stylesheet">
    <title>道友请留步</title>
</head>
<body>
    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="cssload-container">
            <div class="cssload-whirlpool"></div>
        </div>
    </div>
    <!-- LOADER -->

    <!-- HEADER -->
    <header class="header-style header-style2 header-style3 header-style4">
        <div class="hamburger-icon3">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="header-content">
            <div class="row">
                <div class="col-xs-6 col-sm-2">
                    <a class="logo" href="../index.html">
                        <p>道友请留步</p>
                    </a>
                </div>
                
                <div class="section">
                    <p>A small design & technology freelancer based out of Atlanta, GA. Catch up on my latest projects and get in touch.</p>
                </div>
                <div class="category">
                    <span class="small-1">方式</span>
                    <ul>
                        <li class="active">微信，支付宝</li>
                        <li>12306</li>
                        <li>巴士管家</li>
                        <li>携程，途牛</li>
                        
                    </ul>
                </div>
                <div class="sort-by">
                    <span class="small-1">票种</span>
                    <ul>
                        <li>汽车票</li>
                        <li class="active">火车票</li>
                        <li>机票</li>
                    </ul>
                </div>
                <div class="normal-3 section">
                   
                    <div class="empty-space h10-xs fl"></div>
                    <div class="follow">
                        <a class="social" href="https://www.facebook.com/" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a class="social" href="https://www.instagram.com/" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                       
                        <a class="social" href="https://www.twitter.com/" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mob-icon"></div> 
        </div>                                                          
    </header>
 
    <!-- OVERLAY-VIDEO -->
     <div class="overlay-wrapper height-min video">
        <div class="overlay-animation"></div>
        <div class="iframe-wrapper">
            <iframe class="full-size" src="../img/trav.img/transparent.png" allowfullscreen></iframe>
        </div>
        <div class="btn-close"><span></span><span></span></div>
    </div>
    <!-- end OVERLAY-VIDEO -->


    <!-- content -->
    <div id="content-wrapper">
        
        <div class="empty-space h45-xs h65-sm"></div>
        <div class="container-fluid-style3">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="h3">在线购票</h1>
                </div>
            </div>
            <div class="empty-space h30-xs"></div>
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            <p class="normal-1"><span>支付宝</span></p>
                            <p class="normal-1"><span>微信</span></p>
                        </div>
                        <div class="col-md-9">
                            <p class="font-fml-1"><span class="line"></span>各平台之间的打通</p>
                        </div>
                    </div>
                    <div class="empty-space h15-xs"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="normal-1"><span>火车票</span></p>
                        </div>
                        <div class="col-md-9">
                            <p class="font-fml-1"><span class="line"></span>铁路12306</p>
                        </div>
                    </div>
                    <div class="empty-space h15-xs"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="normal-1"><span>机票</span></p>
                        </div>
                        <div class="col-md-9">
                            <p class="font-fml-1"><span class="line"></span><a href="#">携程，途牛</a></p>
                        </div>
                    </div>
                    <div class="empty-space h15-xs"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="normal-1"><span>大巴车票</span></p>
                        </div>
                        <div class="col-md-9">
                            <p class="font-fml-1"><span class="line"></span>巴士管家</p>
                        </div>
                    </div>
                </div>
                <div class="empty-space h30-xs h0-md"></div>
                <div class="col-md-7">
                    <div class="section">
                        <p class="normal-1">With the development of network technology, 
                        	online booking has gradually penetrated into people's life. 
                        	Only one computer is needed to make inquiries, purchases and 
                        	payments in the virtual space, which makes booking a relaxed
                        	 thing. Compared with the traditional air ticket booking, the 
                        	 advantages of online booking is self-evident. There are three 
                        	 advantages of booking tickets online.
							One, query is convenient, not limited by time and space
							Two, payment is convenient, fast and safe
							Third, reduce the use of paper
                        </p>
                    </div>
                </div>
                <div class="empty-space h45-xs h0-md"></div>
            </div>
            <div class="empty-space h85-md h45-xs fl"></div>
            <a href="https://weixin.qq.com/"><img class="block" src="../img/trav.img/wechat.jpg" alt=""></a>
            
            <div class="empty-space h50-xs fl"></div>
            <a href="https://auth.alipay.com"><img class="block" src="../img/trav.img/zfb.jpg" alt=""></a>
            
            <div class="empty-space h40-xs fl"></div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section">
                        <p class="normal-1 text-center">Traditional merchants often receive cash, spend a lot of time 
							and manpower in the cashier and financial settlement, the lack of user information leads to
							 product marketing difficulties, want to do product publicity but nowhere to start or little 
							 effect of the limitations;	Solve the problem that consumers have various bank CARDS, credit
							  CARDS and membership CARDS that are difficult to manage, it is difficult to obtain product 
							  information or preferential activities of merchants, and consumers are waiting in line.						
							O2O through online scenario, it is bound to build two-way trade merchants and consumers a bridge,
							 clear message channel, merchants with our platform for free in micro letter, pay treasure to micro 
							 website promotion products, favorable news feeds, consumer easy to master a variety of activities, 
							 product information or special order online and offline consumption, safety, convenience and fast,</p>

                    </div>
                </div>
            </div>
            <div class="empty-space h45-xs fl"></div>
            <div class="row">
                <div class="col-md-6">
                	<a href="https://www.12306.cn/index/"><img class="block padd-right-10" src="img/12306.jpg" alt=""></a>
                    
                </div>
                <div class="col-md-6">
                    <div class="empty-space h50-xs h0-md fl"></div>
                    <a href="http://www.chebada.com/"><img class="block padd-left-10" src="img/bsgj.png" alt=""></a>
                    
                </div>
            </div>
            <div class="empty-space h50-xs fl"></div>
            <div class="video-wrapper">
                <img class="block" src="../img/trav.img/detail-img-7.jpg" alt="">
                <div class="button-play open-video" data-src="https://www.youtube.com/embed/kQT2y3UiosQ?autoplay=1&amp;loop=1&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;color=white&amp;theme=light&amp;wmode=transparent"></div>
            </div>
            <div class="empty-space h45-xs h90-md fl"></div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="quote">
                        <img src="../img/trav.img/quote-left.png" alt="">
                        <div class="empty-space h5-xs"></div>
                        <p class="biggest-1">1, booking train tickets online query is convenient, transparent information.
							2, online train booking payment is convenient, fast and safe.
							3. It is convenient to book train tickets online and get them. Some tickets can be delivered to your door.
							4, online train ticket refund is convenient, only a small fee deduction.
                        </p>
                        <div class="empty-space h15-xs"></div>
                        <img src="img/quote-right.png" alt="">
                        <div class="empty-space h10-xs"></div>
                        <p class="big-2">MELANI MONREO</p>
                        <div class="empty-space h5-xs"></div>
                        <p class="grey">designer, REDstone Company</p>
                    </div>
                </div>
            </div>
            <div class="empty-space h40-xs h80-md fl"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="tags">
                        <span>TAGS</span>
                        <a class="btn-style3" href="#">机票</a>
                        
                    </div>
                </div>
                <div class="empty-space h20-xs h0-md"></div>
                <div class="col-md-6">
                    <div class="follow">
                        <span class="pull-left">SHARE</span>
                        <a class="social" href="https://www.facebook.com/" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a class="social" href="https://www.instagram.com/" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                      
                        <a class="social" href="https://www.twitter.com/" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="empty-space h75-xs h130-md"></div>

            <div class="row">
                <div class="col-md-6">
                    <div class="img-block-wrapper text-bottom style2 padd-right-10">
                        <div class="img-block">
                            <a href="http://www.ctrip.com/">
                                <img src="../img/trav.img/xc.jpg" alt="">
                            </a>
                            <div class="description-wrapper">
                                <div class="description">
                                   <a class="biggest-1 mouseover-1">携程</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="empty-space h20-xs h0-md"></div>
                <div class="col-md-6">
                    <div class="img-block-wrapper text-bottom style2 padd-left-10">
                        <div class="img-block">
                            <a href="http://www.tuniu.com">
                                <img src="../img/trav.img/tn.png" alt="">
                            </a>
                            <div class="description-wrapper">
                                <div class="description">
                                   <a class="biggest-1 mouseover-1">途牛</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="empty-space h45-md h0-xs fl"></div>
        </div>

        <div class="empty-space h20-xs h40-md fl"></div>
        <!-- footer -->
        <footer class="footer-style">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="copyright normal-s">
                            Copyright &copy; 2018.11.29 <a href="../index.html" target="_blank" title="道友请留步">道友请留步</a> - Collect from 
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer -->
                
    </div>
    <!-- content -->


    <script src="../js/trav.js/jquery-2.2.4.min.js"></script>
    <script src="../js/trav.js/global.js"></script>

</body>
</html>
