<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../css/trav.css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/trav.css/style.css" rel="stylesheet" type="text/css" />
    <link href="../css/trav.css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../img/trav.img/favicon.ico" rel="shortcut icon" />
    <link href="https://fonts.googleapis.com/css?family=Lato:700,900%7CDidact+Gothic" rel="stylesheet">
    <title>道友请留步</title>
</head>
<body>
    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="cssload-container">
            <div class="cssload-whirlpool"></div>
        </div>
    </div>
    <!-- LOADER -->

    <!-- HEADER -->
    <header class="header-style header-style2 header-style3 header-style4">
        <div class="hamburger-icon3">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="header-content">
            <div class="row">
                <div class="col-xs-6 col-sm-2">
                    <a class="logo" href="../index.html">
                        <p>道友请留步</p>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-10">
                    <div class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="hamburger-icon2">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <nav class="normal-s">
                        <ul>
                            
                        </ul>
                    </nav>
                </div>
                <div class="section">
                    <p>A small design & technology freelancer based out of Atlanta, GA. Catch up on my latest projects and get in touch.</p>
                </div>
                <div class="category">
                    <span class="small-1">目录</span>
                    <ul>
                        <li class="active">上海</li>
                        <li>云南</li>
                        <li>成都</li>
                        <li>香港</li>
                        <li>北海道</li>
                    </ul>
                </div>
                <div class="sort-by">
                    <span class="small-1">SHARE</span>
                    <ul>
                        <li>QQ</li>
                        <li class="active">weChat</li>
                        <li>faceBook</li>
                        <li>instagram</li>
                    </ul>
                </div>
                
            </div>
            <div class="mob-icon"></div> 
        </div>                                                          
    </header>
    <!-- HEADER -->
    

    <!-- content -->
    <div id="content-wrapper">
        
        <div class="empty-space h45-xs h65-sm"></div>
        <div class="container-fluid-style2">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <article>
                        <h1 class="h1">推荐出行工具</h1>
                        <div class="empty-space h15-xs"></div>
                        <p class="normal-l dark-grey">Nowadays, the choice of transportation can be more and more diversified. Subway, automobile, high-speed rail, light rail, train, aircraft and so on have brought great convenience to our life. So what kind of transportation do we choose to travel? Here is a brief introduction of the appropriate mode of transportation for different scenarios.</p>
                    </article>
                </div>
            </div>
            <div class="empty-space h15-xs h45-sm"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="content-menu">
                        <div class="button-drop">
                           <a href="#">
                            <span>ALL</span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </a> 
                        </div>
                        <ul>
                            <li><a class="active" data-name="First" href="#First"><span>First</span></a></li>
                            <li><a data-name="Second" href="#Second"><span>Second</span></a></li>
                            <li><a data-name="Third" href="#"><span>Third</span></a></li>
                            <li><a data-name="Fourth" href="#"><span>Fourth</span></a></li>
                            <li><a data-name="Fifth" href="#"><span>Fifth</span></a></li>
                            <li><a data-name="Sixth" href="#"><span>Sixth</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="empty-space h40-xs h60-md"></div>

            <!--left-right -->
            <div class="left-right">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="clip left-side">
                            <a href="#" class="bg" style="background-image:url(../img/trav.img/shanghai.jpg);"></a>
                        </div>
                        <div class="row">
                            <div class="empty-space h30-xs h30-sm h60-md"></div>
                            <div class="col-md-12 text-center">
                                <a class="btn-style3" href="#" id="First">first</a>
                            </div>
                            <div class="empty-space h15-xs fl"></div>
                            <div class="col-md-12 text-center">
                                <div class="autor small-1">
                                    <span>红色高跟鞋</span>
                                    <span>November 21/2018</span>
                                    5 <i class="fa fa-comments-o"></i> 32 <i class="fa fa-heart-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="empty-space h15-xs"></div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <div class="section">
                                    <div class="h5">
                                        <span class="mouseover-2">
                                            <a href="#" >上海</a>
                                        </span>
                                    </div>
                                    <p>外滩：地铁：2号线、10号线在南京东路站出站步行约15分钟</p><hr />
									<p>城隍庙：乘坐221、264、544、夜32、12、24、36、42、66、182、190、219、1、7、10、222、夜1、夜8、夜12路公交车在文德路站下车，步行即可到达。</p><hr />
									<p>田子坊：1、乘坐地铁9号线到打浦桥站下车，从1号口出来后步行5分钟即到。2、乘坐公交17路、24路、864路到建国中路瑞金二路站，下车后即到；乘坐公交41路、43路、45路、96路、146路、205路、218路、786、806路、931路、955路、985路、徐川专线到打浦桥站，下车后步行5分钟即到。</p>
                                </div>
                            </div>
                            <div class="empty-space h60-xs fl"></div>
                        </div>
                    </div>
                </div>
                <div class="empty-space h30-xs fl"></div>
                <div class="row">
                    <div class="col-md-6 pull-right"></div>
                    <div class="col-md-6">
                        <div class="clip right-side">
                            <a href="#" class="bg" style="background-image:url(../img/trav.img/luguhu.jpg)"></a>
                        </div>
                        <div class="row">
                            <div class="empty-space h30-xs h30-sm h60-md fl"></div>
                            <div class="col-md-12 text-center">
                                <a class="btn-style3" href="#" id="Second">second</a>
                            </div>
                            <div class="empty-space h15-xs fl"></div>
                            <div class="col-md-12 text-center">
                                <div class="autor small-1">
                                    <span>夏妍</span>
                                    <span>AUG 12/2018</span>
                                    5 <i class="fa fa-comments-o"></i> 32 <i class="fa fa-heart-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="empty-space h15-xs"></div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <div class="section">
                                    <div class="h5">
                                        <span class="mouseover-2">
                                            <a href="#">云南</a>
                                        </span>
                                    </div>
                                    <p>泸沽湖:客车：
										1.在丽江客运站乘坐大巴客车，先到宁蒗县城，到县城后乘坐小面包车(约30元/人)可前往泸沽湖。
										2.在丽江客运站乘坐到永宁的大巴在大落水村下即可，票价50元。
										3.丽江古城口玉河广场停车场每天早上有发往泸沽湖的旅游专线车，可抵达大洛水村和里格岛，往返车费160元/人，单程100元/人，早上8:00发车，车程3小时左右。
										租车：
										从丽江市区到泸沽湖可以自己租车，一般淡季为350-550元，旺季为550-800元
                                    </p><hr />
                                    <p>玉龙雪山:【包车】
										从丽江去玉龙雪山，很多人会选择包车至甘海子游客中心，车程40分钟，车费200-300元
										【巴士】
										每天早上9:00有发往甘海子的雪山直通车，下午17:00返回，票价40元/人。在古城周围的玉河停车场、南门停车场、丽君酒店和束河大门都可以乘车，可以在玉河走廊C区2-3号、客运中心站及高快客运站购票
								
                                    </p>
									
                                </div>
                            </div>
                            <div class="empty-space h60-xs fl"></div>
                        </div>
                    </div>
                </div>
                <div class="empty-space h30-xs fl"></div>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="clip left-side">
                            <a href="#" class="bg" style="background-image:url(../img/trav.img/blog-img-3.jpeg);"></a>
                        </div>
                        <div class="row">
                            <div class="empty-space h30-xs h30-sm h60-md fl"></div>
                            <div class="col-md-12 text-center">
                                <a class="btn-style3" href="#">third</a>
                            </div>
                            <div class="empty-space h15-xs fl"></div>
                            <div class="col-md-12 text-center">
                                <div class="autor small-1">
                                    <span>马蜂窝</span>
                                    <span>November 28/2018</span>
                                    5 <i class="fa fa-comments-o"></i> 32 <i class="fa fa-heart-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="empty-space h15-xs"></div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <div class="section">
                                    <div class="h5">
                                        <span class="mouseover-2">
                                            <a href="#">成都印象</a>
                                        </span>
                                    </div>
                                    <p>宽窄巷子：乘地铁2号线至人民公园站下车，步行400 米即可到达。
										乘地铁4号线至宽窄巷子站下车即可到达。
										乘62、70、93、126 环线、127、163、340 路公交车至宽窄巷子站下车。
                                    </p><hr />
                                    <p>杜甫草堂：乘坐地铁4号线，在草堂北路下车后步行可到。
                                    	乘坐1024路公交车，在杜甫草堂博物馆站下车
                                    </p>
                                </div>
                            </div>
                            <div class="empty-space h60-xs fl"></div>
                        </div>
                    </div>
                </div>
                <div class="empty-space h30-xs fl"></div> 
                <div class="row">
                    <div class="col-md-6 pull-right"></div>
                    <div class="col-md-6">
                        <div class="clip right-side">
                            <a href="#" class="bg" style="background-image:url(../img/trav.img/hongkong.jpg)"></a>
                        </div>
                        <div class="row">
                            <div class="empty-space h30-xs h30-sm h60-md fl"></div>
                            <div class="col-md-12 text-center">
                                <a class="btn-style3" href="#">fourth</a>
                            </div>
                            <div class="empty-space h15-xs fl"></div>
                            <div class="col-md-12 text-center">
                                <div class="autor small-1">
                                    <span>mafengwo</span>
                                    <span>JUNE 19/2018</span>
                                    5 <i class="fa fa-comments-o"></i> 32 <i class="fa fa-heart-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="empty-space h15-xs"></div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <div class="section">
                                    <div class="h5">
                                        <span class="mouseover-2">
                                            <a href="#">HongKong</a>
                                        </span>
                                    </div>
                                    <p>尖沙咀：乘坐地铁至尖沙咀站下车即可</p><hr />
                                    <p>旺角：1、铜锣湾到旺角需要16分钟，价格：10.5港币；
											2、湾仔到旺角需要14分钟，价格：10.5港币； 
											3、中环到旺角需要12分钟，价格：10港币。
                                    </p><hr />
                                    <p>维多利亚港：1.香港地铁直达：乘坐地铁抵达【尖沙咀】站下车即可到达；
												2.巴士直达：乘坐1、1A、8、8A、8P、9到【尖沙咀码头】下车； 
												3.天星小轮：天星小轮航线：中环←→尖沙咀、中环←→红磡、湾仔←→尖沙咀、红磡←→湾仔航线。
                                    </p>
                                </div>
                            </div>
                            <div class="empty-space h60-xs fl"></div>
                        </div>
                    </div>
                </div>
                <div class="empty-space h30-xs fl"></div>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="clip left-side">
                            <a href="#" class="bg" style="background-image:url(../img/trav.img/blog-img-4.jpeg);"></a>
                        </div>
                        <div class="row">
                            <div class="empty-space h30-xs h30-sm h60-md fl"></div>
                            <div class="col-md-12 text-center">
                                <a class="btn-style3" href="#">fifth</a>
                            </div>
                            <div class="empty-space h15-xs fl"></div>
                            <div class="col-md-12 text-center">
                                <div class="autor small-1">
                                    <span>fengwo ma</span>
                                    <span>dec 19/2018</span>
                                    5 <i class="fa fa-comments-o"></i> 32 <i class="fa fa-heart-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="empty-space h15-xs"></div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <div class="section">
                                    <div class="h5">
                                        <span class="mouseover-2">
                                            <a href="#">Japan 北海道</a>
                                        </span>
                                    </div>
                                    <p>小樽运河:搭乘JR至「小樽站」，出站后沿中央街步行约8分钟即可到达</p><hr />
                                    <p>函馆山:·搭乘市电在「十字街站」下车后徒步到索道入口，搭乘索道上山。从函馆JR站前直接搭乘登山巴士上山</p><hr />
                                    <p>地狱谷:乘坐JR室兰本线特快从新千岁机场到登别车站约50分钟，巴士从登别车站到温泉街约13分钟</p><hr />
                                </div>
                            </div>
                            <div class="empty-space h30-xs h60-sm fl"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end left-right -->
            <div class="empty-space h15-xs h15-sm h90-md"></div>
            <div class="page-pagination">
                <ul>
                    <li><a href="travel.html">出行</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">NEXT</a></li>
                </ul>
            </div>
        </div>
        <!-- end container-fluid-style2 -->
        <div class="empty-space h0-xs h30-sm fl"></div>

       
                
    </div>
    <!-- content -->

    <script src="../js/trav.js/jquery-2.2.4.min.js"></script>
    <script src="../js/trav.js/global.js"></script>     
</body>
</html>
