<!DOCTYPE html>
<html lang="en">
<head>
<title>英语一角</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href="../css/yijiao/bootstrap.css" rel="stylesheet" type="text/css" media="all" /><!-- bootstrap-css -->

<link href="../css/yijiao/owl.carousel.css" rel="stylesheet"><!-- Owl-carousel-CSS -->

<link href="../css/yijiao/popup-box.css" rel="stylesheet" type="text/css" media="all" /><!-- pop-up css --> 

<link href="../css/yijiao/style.css" rel="stylesheet" type="text/css" media="all" />

<!-- banner css -->
<link rel="stylesheet" href="../css/yijiao/poposlides.css" type="text/css" media="all" />
<!-- //banner css -->

<!-- font-awesome-icons -->
<link rel="stylesheet" href="../css/yijiao/font-awesome.min.css" />
<!-- //font-awesome-icons -->

<!-- google fonts -->
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<!-- //google fonts -->

</head>
	
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
 
<!--/main-header-->
<div class="demo-inner-content" id="home">
	<div class="main_agileits">
	<!--/banner-info-->
	<!-- header -->
		<div class="header-w3layouts"> 
			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-fixed-top"> 
				<div class="container">
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Tourist</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a class="navbar-brand" href="study.html">英语一角</a></h1>
					</div> 
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav navbar-right cl-effect-15">
							<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
							<li class="hidden"><a class="page-scroll" href="#page-top"></a>	</li>
							<li><a class="page-scroll scroll" href="#home">主页</a></li>
							<li><a class="page-scroll scroll" href="#about">四级</a></li>
							<li><a class="page-scroll scroll" href="#packages">六级</a></li>
							<li><a class="page-scroll scroll" href="#testimonials">资料</a></li>
							<li><a class="page-scroll scroll" href="#stats">推荐</a></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->
			</nav>  
		</div>	
		<!-- //header -->

		<!-- banner info-->
		<div class="w3-banner-head-info">
				<div class="container">
				   <div class="banner-text">
				   
						
						</div>
					</div>
				</div>
		</div>
		<!-- //banner-info-->
		<div class="slides-box">
			<ul class="slides">
				<li style="background: url(../img/yijiao/p1.jpg) no-repeat;background-size:cover;"></li>
				<li style="background: url(../img/yijiao/p2.jpg) no-repeat;background-size:cover;"></li>
				<li style="background: url(../img/yijiao/p3.jpg) no-repeat;background-size:cover;"></li>
			
			</ul>
		</div>
		<!-- //banner  -->
	</div>
</div>
 <!--/banner-section-->

<!-- about --> 
<div class="w3ls-section w3-about" id="about">
	<div class="container">  
		<div class="w3ls-title"> 
			<h3 class="title">英语小故事</h3>
		</div>
			<div class="col-md-4 about-top">
				<h4>Two Soldiers</h4>
				
				<p>Two soldiers were in camp. The first one‘s name was George, and the second one‘s name was Bill. George said, "have you got a piece of paper and an envelope, Bill?"

　　Bill said, "Yes, I have," and he gave them to him.Then George said, "Now I haven‘t got a pen." Bill gave him his, and George wrote his letter. Then he put it in the envelope and said, "have you got a stamp, Bill?" Bill gave him one.Then Bill got up and went to the door, so George said to him, "Are you going out?"Bill Said, "Yes, I am," and he opened the door.George said, "Please put my letter in the box in the office, and..." He stopped."What do you want now?" Bill said to him.George looked at the envelope of his letter and answered, "What‘s your girl-friend‘s address?"</p>
				<a href="#" class="button button--nina" data-text="Learn more" data-toggle="modal" data-target="#myModal">Read More</a>
			</div>
			<div class="col-md-4 middle-img">
				<img src="../img/yijiao/p8.jpg" alt="about image" />
			</div>
			<div class="col-md-4 about-top last">
				<h4>英文歌推荐</h4>
				<div class="text-center">
					
				
					<!-- //Modal5 -->

				<p>Make your whole year''s plan in the spring and the whole day''s plan in the morning.</p>
			</div>
			<div class="clearfix"></div>
			
			
	</div>	
	
</div>	
<!-- //about -->
			<div class="agileinfo-about-grid text-center">	
				<div class="col-md-4 col-xs-6 w3ls-about-grid">
					<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
					<h6>Baby’s Arms</h6>
					<p>Baby’s  arm由Kurt Vile演唱，他是一位美国歌手，词曲作者，多乐器演奏家和唱片制作人。有人评价，舞台上的他仿佛就是传说中那个“能让一切看起来都理所当然”的人。</p> 
				</div>
				<div class="col-md-4 col-xs-6 w3ls-about-grid about-2">
					<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
					<h6>Road To Nowhere</h6>
					<p>这首歌由Talking Heads乐队演唱，传声头像的灵魂人物大卫·拜恩出生于苏格兰，乐队于1991年解散。时至今日，传声头像仍然如同长明的火焰一般泽被后世。</p> 
				</div>
				<div class="col-md-4 col-xs-6 w3ls-about-grid">
					<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
					<h6>Sail</h6>
					<p>由美国电子摇滚乐队Awolnation演唱，这支美国新晋摇滚乐团，成绩相当不错，第一首单曲"Sail," 一上榜就取得Billboard Alternative Songs 前30的不俗成绩。</p> 
		        </div>
				<div class="clearfix"></div>
			</div>
 
<!-- travel -->
<div class="travel">
	<div class="container">
		<h4>道友请留步</h4>
		<h3>有朋自远方来不亦乐乎</h3>
		<p>Is it not a joy to have friends come from afar</p>
		<div class="text-center">
			
		</div>
	</div>
</div>
<!-- //travel -->

<!-- popular packages -->
<div class="packages" id="packages">
	<div class="container">
		<div class="wthree_head_section">
			<h3 class="title">书籍推荐</h3>
		</div>
		<div class="packages_grids">
			<div class="packages_grid1">
				<div class="col-md-3 package1">
					<img src="../img/yijiao/p9.jpg" alt="package1" />
					<h4>Doctor Who and the Ark in Space</h4>
					<h5>30$</h5>
					<a href="#small-dialog" class="w3_agileits_sign_up2 popup-with-zoom-anim ab scroll">Book Now</a>
				</div>
				<div class="col-md-3 package1">
					<img src="../img/yijiao/p10.jpg" alt="package1" />
					<h4>Invincible Iron Man Vol.1</h4>
					<h5>35$</h5>
					<a href="#small-dialog" class="w3_agileits_sign_up2 popup-with-zoom-anim ab scroll">Book Now</a>
				</div>
				<div class="col-md-3 package1">
					<img src="../img/yijiao/p11.jpg" alt="package1" />
					<h4>Abominable</h4>
					<h5>32$</h5>
					<a href="#small-dialog" class="w3_agileits_sign_up2 popup-with-zoom-anim ab scroll">Book Now</a>
				</div>
				<div class="col-md-3 package1">
					<img src="../img/yijiao/p12.jpg" alt="package1" />
					<h4>Astonishing Thor</h4>
					<h5>42$</h5>
					<a href="#small-dialog" class="w3_agileits_sign_up2 popup-with-zoom-anim ab scroll">Book Now</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<!-- //popular packages -->
 
<!-- agile_testimonials -->
	<div class="agile_testimonials" id="testimonials">
		<div class="container">
			<div class="wthree_head_section">
				<h3 class="title">谚语</h3>
			</div>

			<div class="agile_wthree_inner_grids">
				<div class="test-agile_main_section">
					<div id="owl-demo2" class="owl-carousel">
						<div class="agile">
							<div class="test-grid">
								<div class="test-grid1">
									<div class="test-grid2">
									</div>
									<div class="test-grid2_text">
										<h4>世界上对勇气的最大考验是忍受失败而不丧失信心</h4>
									</div>
									<div class="clearfix"></div>
								</div>
								<p class="para-w3-agile">The greatest test of courage on earth is to bear defeat without losing heart</p>
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</div>
						</div>
						<div class="agile">
							<div class="test-grid">
								<div class="test-grid1">
									<div class="test-grid2">
									</div>
									<div class="test-grid2_text">
										<h4>只有在日常生活中尽责的人才会在重大时刻尽责</h4>
									</div>
									<div class="clearfix"></div>
								</div>
								<p class="para-w3-agile">Only they who fulfill their duties in everyday matters will fulfill them on great occasions</p>
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</div>
						</div>
						<div class="agile">
							<div class="test-grid">
								<div class="test-grid1">
									<div class="test-grid2">
									</div>
									<div class="test-grid2_text">
										<h4>做许多事情的捷径就是一次只做一件事</h4>
									</div>
									<div class="clearfix"></div>
								</div>
								<p class="para-w3-agile">The shortest way to do many things is to only one thing at a time</p>
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //agile_testimonials -->
	
<!-- stats -->


<!-- //footer end here -->

<!-- popup signup form -->
	<div class="wthree_pop_up"> 
		<div id="small-dialog" class="mfp-hide agile_signup_form">
			<h2>BOOK OUR TRAVEL TOURIST</h2>
			<form action="#" method="post">
			
				<div class="form-control"> 
					<label class="header1">Traveller Name <span>:</span></label>
					<input type="text" id="firstname" name="firstname" placeholder="Full Name" title="Please enter your Full Name" required="">
				</div>
				
				<div class="form-control">
					<label class="editContent">Travel Location <span>:</span></label>
						<select class="form-control">
							<option>London</option>
							<option>Paris</option>
							<option>India</option>
							<option>Japan</option>
							<option>America</option>
						</select>
				</div>

				<div class="form-control">	
					<label class="header1">Email Address <span>:</span></label>
					<input type="email" id="email" name="email" placeholder="mail@example.com" title="Please enter a valid email" required="">
				</div>

				<div class="form-control">	
					<label class="header1">Phone Number <span>:</span></label>
					<input type="tel" id="tel" name="tel" placeholder="Phone number" title="Please enter a valid Phone number" required="">
				</div>
				
				<div class="form-control">	
					<label class="editContent">Journey start date <span>:</span></label>
					<input class="date has Datepicker" id="datepicker" name="Text" type="text" value="Start Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '21/11/2017';}" required="">
				</div>
				
				<div class="form-control">	
					<label class="editContent">Journey return date <span>:</span></label>
					<input class="date has Datepicker" id="datepicker" name="Text" type="text" value="Return Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '21/11/2017';}" required="">
				</div>

				<div class="form-control">
					<label class="editContent">No: of travellers <span>:</span></label>
						<select class="form-control">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5 or more</option>
						</select>
				</div>
				<div class="w3_submit">
					<input type="submit" class="register" value="Submit">
				</div>
				
			</form>
		</div>
	</div>
	
<!-- //popup signup form -->

<!-- js -->
<script type="text/javascript" src="../js/yijiao/jquery-2.1.4.min.js"></script>
<!-- //js -->

<!-- Stats-Number-Scroller-Animation-JavaScript -->
<script src="../js/yijiao/waypoints.min.js"></script> 
<script src="../js/yijiao/counterup.min.js"></script> 
<script>
	jQuery(document).ready(function( $ ) {
		$('.counter').counterUp({
			delay: 10,
			time: 1000 
		});
	});
</script>
<!-- //Stats-Number-Scroller-Animation-JavaScript -->

<!-- Calendar -->
<link rel="stylesheet" href="../css/yijiao/jquery-ui.css" />
	<script src="../js/yijiao/jquery-ui.js"></script>
	<script>
		$(function() {
			$( "#datepicker,#datepicker1" ).datepicker();
		});
	</script>
<!-- //Calendar -->
		
<!-- for banner js file-->
<script src="../js/yijiao/poposlides.js"></script>
	<script>
		$(".slides").poposlides();
	</script>
<!-- //for banner js file-->

<!-- pop-up-box -->
		<script src="../js/yijiao/jquery.magnific-popup.js" type="text/javascript"></script>
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
				});														
			});
		</script>
<!--//pop-up-box -->

<!-- requried-jsfiles-for owl -->	<!-- testimonials -->
	<script src="../js/yijiao/owl.carousel.js"></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo2").owlCarousel({
				items: 1,
				lazyLoad: false,
				autoPlay: true,
				navigation: false,
				navigationText: false,
				pagination: true,
			});
		});
	</script>
<!-- //requried-jsfiles-for owl -->	<!-- //testimonials -->

<!-- start-smoth-scrolling -->
<script src="../js/yijiao/SmoothScroll.min.js"></script>

<script type="text/javascript" src="../js/yiiao/move-top.js"></script>
	<script type="text/javascript" src="../js/yijiao/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>

	<!-- here stars scrolling icon -->

<!-- //here ends scrolling icon -->

<!-- Scrolling Nav JavaScript --> 
    <script src="../js/yijiao/scrolling-nav.js"></script>  
<!-- //fixed-scroll-nav-js --> 
		
<!-- for bootstrap working -->
	<script src="../js/yijiao/bootstrap.js"></script>
<!-- //for bootstrap working -->

</body>
</html>