<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">		
    <title></title>
    <link rel="stylesheet" type="text/css" href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/demo-user-first.css"/>
    <link rel="stylesheet" href="../css/Demo-order.css"/>
</head>
<!--主体-->
<body class="bgcolor">
	<!--导航-->
	<div class="container-fluid">
		<div class="row ">
				<nav class="navbar navbar-default mynav" role="navigation">
				    <div class="container-fluid body-center"> 
				    <div class="navbar-header">
				        <button type="button" class="navbar-toggle" data-toggle="collapse"
				                data-target="#example-navbar-collapse">
				            <span class="sr-only">切换导航</span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				        </button>
				        <a class="navbar-brand" href="#" style="color: white;">点餐系统</a>
				    </div>
				    <div class="collapse navbar-collapse" id="example-navbar-collapse " >
				        <ul class="nav navbar-nav">
				            <li class="active"><a href="user-first.html" style="color: white;">首页</a></li>
				            <li><a href="Demo-orde.html" style="color: white;">我的订单</a></li>
				            <li><a href="#" style="color: white;">加盟合作</a></li>
				            <li><a href="#" style="color: white;">我的客服</a></li>
				        </ul>
				        <!--向右对齐-->
				        <ul class="nav navbar-nav navbar-right">        	
				        	<!--<span class="glyphicon glyphicon-user" style="color:white; font-size: 35px; float: left;"></span> 
				        	<li><a href="#" style="color: white;">登入/注册</a></li>-->
				        	<li>
				        		<a href="#" style="color: white;">
				        			<span class="glyphicon glyphicon-user login-img"></span> 
				        			登入/注册
				        		</a>
				        	</li>
 						 	<!--<li><a href="#" style="color: white;align-content: center;"><span class="glyphicon glyphicon-log-in" style="color:white; font-size: 35px; float: left;"></span> 登录</a></li>-->
			        	</ul>
			        	<form class="navbar-form navbar-right" role="search">
			        </form>
			        <!---->
				    </div>
				    </div>
				</nav>
			</div>
		</div>
	</div>
	<div class="order-body-center">
	   <div class="total">
	       <div class="zhongxin" ><!--中心区域-->
	           <div class="dingdan"><!--中心区域上部分-->
	               <div class="wenzi">近三个月订单</div>   <!--近三个月订单-->
	               <img src="image/takeout.408a87.png " class="nawaimai" alt=""/>   <!--谁去拿外买-->
	           </div>
	           <div class="neirong">
	               <a class="remen" href="">热门问题</a>
	               <a class="guanzhu" href="">随时关注订单状态</a>
	               <img src="" alt="" class="pic1"/><!--暂无内容旁边的图片-->
	               <div class="zanwu">暂无记录，现在就去<a href="" class="dingcan">订餐</a><div class="ba">吧！</div> </div>
	               <input type="button" class="next" value="下一页"/>
	           </div>
	       </div>
	       <a href="#" class="geren"><h2>个人中心</h2></a>
	       <a href="#" class="wode"><h2>我的订单</h2></a>
	       <a href="#" class="zuijin">近三个月订单</a>
	       <a href="#" class="zichan"><h2>我的资产</h2></a>
	       <a href="#" class="hongbao">我的红包</a>
	       <a href="#" class="zhanghu">账户余额</a>
	       <a href="#" class="jinbi">我的金币</a>
	       <a href="#" class="ziliao"><h2>我的资料</h2></a>
	       <a href="#" class="mess">个人资料</a>
	       <a href="#" class="dizhi">地址管理</a>
	       <a href="#" class="shoucang"><h2>我的收藏</h2></a>
	   </div>
	</div>
	<!--页脚-->
		<div class="container-fluid footer order-body-center" style="width: 1000px;">
			<div class="row">
				<div class="foot-link">
					<h3>用户帮助</h3>
					<a href="#">我的客服</a>
				</div>
				<div class="foot-link">
					<h3>商务合作</h3>
					<a href="#">我要开店</a>
					<a href="#">加盟指南</a>
					<a href="#">市场合作</a>
					<a href="#">开放平台</a>
				</div>
				<div class="foot-link">
					<h3>关于我们</h3>
					<a href="#">点点点餐介绍</a>
					<a href="#">加入我们</a>
					<a href="#">联系我们</a>
					<a href="#">规则中心</a>
					<a href="#">隐私条款</a>
				</div>
				<div class="foot-contect">
					<div class="foot-contect-title">
						24小时客服热线：
						<a href="#">10101010</a>
					</div>
				</div>
				<div></div>
				<div></div>
			</div>
		</div>
	<script src="../plugins/jQuery/jquery.min.js"></script>
	<script src="../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>