<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/demo-user-first.css"/>
	</head>
	<body class="bgcolor">
		<!--导航-->
		<div class="container-fluid">
			<div class="row ">
					<nav class="navbar navbar-default mynav" role="navigation">
					    <div class="container-fluid body-center"> 
					    <div class="navbar-header">
					        <button type="button" class="navbar-toggle" data-toggle="collapse"
					                data-target="#example-navbar-collapse">
					            <span class="sr-only">切换导航</span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
					        </button>
					        <a class="navbar-brand" href="#" style="color: white;">点餐系统</a>
					    </div>
					    <div class="collapse navbar-collapse" id="example-navbar-collapse " >
					        <ul class="nav navbar-nav">
					            <li class="active"><a href="#" style="color: white;">首页</a></li>
					            <li><a href="#" style="color: white;">我的订单</a></li>
					            <li><a href="#" style="color: white;">加盟合作</a></li>
					            <li><a href="#" style="color: white;">我的客服</a></li>
					        </ul>
					        <!--向右对齐-->
					        <ul class="nav navbar-nav navbar-right">        	
					        	<!--<span class="glyphicon glyphicon-user" style="color:white; font-size: 35px; float: left;"></span> 
					        	<li><a href="#" style="color: white;">登入/注册</a></li>-->
					        	<li>
					        		<a href="#" style="color: white;">
					        			<span class="glyphicon glyphicon-user login-img"></span> 
					        			登入/注册
					        		</a>
					        	</li>
     						 	<!--<li><a href="#" style="color: white;align-content: center;"><span class="glyphicon glyphicon-log-in" style="color:white; font-size: 35px; float: left;"></span> 登录</a></li>-->
				        	</ul>
				        	<form class="navbar-form navbar-right" role="search">
				        </form>
				        <!---->
					    </div>
					    </div>
					</nav>
				</div>
			</div>
		</div>
		<!--地址显示区域-->
		<div class="container-fluid myadress">
			<div class="row body-center">
				<lable style="color: gray">
					当前位置：
				</lable>
				<span>
					江苏科技大学
				</span>
				<a href="#">[切换地址]</a>
				<div class="place-search">					
					<input type="text">
				</div>
			</div>
		</div>
		<!--第二级导航-->
			
		</div>
		<!--主体区域-->
		<div class="container-fluid my_body">
			<div class="row body-center">
				<!--每列显示几张图-->
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<!--跳转到商店内-->
					<a href="#" >
						<!--商店logo-->
						<div class="logo my_img">
							<!--logo链接-->
							<img src="//fuss10.elemecdn.com/0/ca/e21a2fa5d58cc2fa26cc170f48136png.png?imageMogr2/thumbnail/70x70"/>
						</div>
						<!--商家名-->
						<div class="rstblock-title">
							用户
						</div>
						<!--星级-->
						<div class="starrating">
							
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="//fuss10.elemecdn.com/f/a8/c27afc3e6821e3e31ac64fef57bbbjpeg.jpeg?imageMogr2/thumbnail/70x70" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="//fuss10.elemecdn.com/b/87/2fa8804529cc97f0fe4ddaaf6c83fpng.png?imageMogr2/thumbnail/70x70" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="//fuss10.elemecdn.com/7/e9/a9de59dfa0651333fc363d5503b8ejpeg.jpeg?imageMogr2/thumbnail/70x70" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="//fuss10.elemecdn.com/e/f3/6f27854bd357dffd7d2e403148eb2jpeg.jpeg?imageMogr2/thumbnail/70x70" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-1 col-xs-1 rstblock">
					<a href="#">
						<div class="logo my_img">
							<img src="" />
						</div>
					</a>
				</div>
			</div>
		</div>
		
		
		<!--页脚-->
		<div class="container-fluid footer body-center">
			<div class="row">
				<div class="foot-link">
					<h3>用户帮助</h3>
					<a href="#">我的客服</a>
				</div>
				<div class="foot-link">
					<h3>商务合作</h3>
					<a href="#">我要开店</a>
					<a href="#">加盟指南</a>
					<a href="#">市场合作</a>
					<a href="#">开放平台</a>
				</div>
				<div class="foot-link">
					<h3>关于我们</h3>
					<a href="#">点点点餐介绍</a>
					<a href="#">加入我们</a>
					<a href="#">联系我们</a>
					<a href="#">规则中心</a>
					<a href="#">隐私条款</a>
				</div>
				<div class="foot-contect">
					<div class="foot-contect-title">
						24小时客服热线：
						<a href="#">10101010</a>
					</div>
				</div>
				<div></div>
				<div></div>
			</div>
		</div>
		
		<!--导入JQ与JS-->
		<script src="../plugins/jQuery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
