*{
    padding: 0;
    margin: 0;
}
.myactive{
    border-bottom: 3px solid red;
}
#yy_nav{
    background-color: white;
    border: none;
}
#example-navbar-collapse > ul:nth-child(1) > li:hover{
    border-bottom: 3px solid red;!important;
}