			
			.navbar {
				width: 100%;
				height: 40px;
				background-color: rgba(2, 25, 72, .3);
				top: 0;
				position: absolute;
				box-sizing: border-box;
				font-size: 16px;
				font-weight: 400;
				line-height: 1.4;
				color: #FFFFFF;
				z-index: 200;
			}
			
			.navbar a,
			.navbar div,
			.navbar img,
			.navbar nav {
				box-sizing: border-box;
				vertical-align: baseline;
			}

			@keyframes icon-rotate1{
				from{transform: rotateX(0deg);}
				to{transform: rotateX(180deg);}
			}
			
			@keyframes icon-rotate2{
				from{transform: rotateX(180deg);}
				to{transform: rotateX(0deg);}
			}

			.navbars {
				position: fixed;
				left: 0;
				width: 100%;
				display: block;
				z-index: 97;
			}
			
			.navbars_top {
				top: -20px;
			}
			
			/*.navbars_notTop {
				top: 0px;
			}*/
			
			.navbars nav[role=main] {
				background-color: rgba(40, 53, 79, .9);
				position: relative;
				z-index: 96;
				height: 62px;
			}
			
			.nav_top {
				margin: 20px 20px 0;
			}
			
			/*.nav_notTop {
				margin: 0;
			}*/
			
			.navbars nav[role=main]:after {
				content: '';
				display: block;
				height: 0;
				clear: both;
			}
			
			.navbars nav[role=main] .nav_left {
				float: left;
				font-size: 0;
				margin: 0;
			}
			
			.navbars nav[role=main] .nav_left .nav_logo {
				width: 245px;
				height: 62px;
				background-image: url(../img/navbars/nav-logo-sm.png);
				background-repeat: no-repeat;
				background-position: center center;
				display: inline-block;
			}
			
			.navbars nav[role=main] .nav_menu {
				margin: 0;
			}
			
			.navbars nav[role=main] .nav_menu li {
				display: inline-block;
				height: 100%;
			}
			
			.navbars nav[role=main] .nav_menu li a:hover {
				color: white;
			}
			
			.navbars nav[role=main] .nav_btn {
				font-size: 1.6rem;
				min-width: 99px;
				padding: 24px 0 22px;
				display: inline-block;
				border-bottom: 0 solid transparent;
				box-sizing: border-box;
				line-height: 1;
				font-family: "microsoft yahei", arial, sans-serif;
				text-transform: none;
				color: rgba(255, 255, 255, .85);
				text-align: center;
				text-shadow: none;
				letter-spacing: .05em;
				position: relative;
				cursor: pointer;
				transition: background-color 200ms;
			}
			
			.navbars nav[role=main] .nav_btn:hover {
				background-color: rgba(55, 65, 90, 1);
			}
			
			.navbars nav[role=main] .nav_right {
				float: right;
				font-size: 0;
				margin: 0;
			}
			
			.navbars nav[role=main] .nav_right .m_big:hover {
				background-color: #FF9C00;
				color: #fff;
			}
			
			.navbars nav[role=main] .nav_right .m_big {
				font-weight: 700;
				background-color: #f7931e;
			}
			
			.navbars nav[role=main] .nav_border {
				height: 2px;
				background-color: rgba(0, 0, 0, .25);
				position: absolute;
				width: 100%;
				bottom: -2px;
			}
			


			

			
		
