#outer{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgba(1,1,1,0.0);
    margin-top: 80px;
    position: absolute;


    }

input,textarea {
	border:2px solid #ddd;
	border-radius:0;
	color:#999;
	display:block;
	font:400 1em/1 "Open Sans",sans-serif;
	margin:0 0 .5em;
	padding:1em 1.25em;
	width:100%;
	-webkit-transition:border-color 300ms,color 300ms;
	transition:border-color 300ms,color 300ms;
	-webkit-appearance:none
}
input:focus,textarea:focus {
	border-color:#333;
	color:#333;
	outline:0
}
textarea {
	margin:0;
	min-height:7.5em;
	line-height:1.5;
	overflow:auto;
	resize:vertical
}
.arrow {
	border-top:9px solid #ddd;
	border-right:9px solid #ddd;
	border-bottom:9px inset transparent;
	border-left:9px inset transparent;
	display:block;
	position:absolute;
	right:0;
	top:0;
	-webkit-transition:border-color 300ms;
	transition:border-color 300ms
}
input:focus+.arrow,textarea:focus+.arrow {
	border-top-color:#333;
	border-right-color:#333
}

.button {
	display: inline-block;
	position: relative;
	margin: 10px;
	padding: 10 60px;
	text-align: center;
	text-decoration: none;
	font: bold 12px/25px Arial, sans-serif;
}

.green {
	color: #3e5706;
	background: #a5cd4e;
}

.blue {
	color: #19667d;
	background: #70c9e3;
}

.gray {
	color: #515151;
	background: #d3d3d3;
}


.biankuang{
width:100%;
border-style:solid;
border-width:3px;
border-color:#F0F0F0;
}

.dibu{
position:fixed;
bottom:0;
}
