<html lang="en"><head>
    <meta charset="UTF-8">
    <title>优游旅游网</title>
    <link href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
</head>
<body style="background-image:url(../img/all-2-3.png);">
<nav class="navbar navbar-default" style="margin-bottom: 0px" role="navigation">
    <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2 col-sm-10">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-target="#example-navbar-collapse" data-toggle="collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">优游旅游网</a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="myactive"><a href="#">首页</a></li>
                    <li><a href="#">选择目的地</a></li>
                    <li><a href="#">热门景点</a></li>
                    <li><a href="#">私人定制</a></li>
                    <li><a href="#">品牌理念</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-sm hidden-md">
                    <li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" style="width: 1180px; height: 1200px; border: black 1px solid;">
	<div class="row">
		<div style="margin-top:24px;padding-left: 16px;"> 
		<span style="font-size: 14px;"><strong>热门景点<strong></span>
		</div>
		
		<div style="width:1148px;height:259px;border: red 1px solid;position: relative;right:-15px; margin-top:24px;background-color: white; ">
			
			<div style="float: left;">
				<img src="../img/2-1-1.jpg" height="255px" width="400px " style="margin-top: 1px; margin-left:1px;">
			</div>
			
			<div style="height:242px; width:485px; float:left;margin-top:8px; margin-left:20px;border: 1px black solid;">
				<p style="font-size:20px;"><strong>【法瑞秘境·冰雪假期】法国瑞士冬季休闲8天6晚·欧洲首家Four Seasons山区酒店+滑雪度假胜地+瑞士"国犬"亲子互动+“欧洲屋脊”霞慕尼+巴黎亲子迪士尼+官方讲解卢浮宫</strong></p>
				<div>
					<br>
				</div>
				<p style="font-size:12px;color:grey;">【冬日暖阳】甄选贵族富豪冬季度假胜地，阿尔卑斯山脚下尽享欧式休闲时光；<br>
				【甄选酒店】Four Seasons欧洲首家山区酒店，体验罗斯柴尔德家族的悠久历史；<br>
				【美景人文】南针峰远眺勃朗峰震撼山景，安纳西法式小镇风情，里昂历史名城；</p>
				<div>
					<p style="font-size: 14px;">
						出发时间：
					</p>
				</div>
			</div>
			<div style="width:235px; height: 64px; border: 1px black solid; float:left;margin-left:2px;margin-top: 100px;">
					<p style="font-size: 14px; ">
						价格：
					</p>
			</div>
		</div>
		<div style="width:1148px;height:259px;border: orangered 1px solid;position: relative;right:-15px; margin-top:1px;background-color: white;">
			<div style="float: left;">
				<img src="../img/2-1-2.jpg" height="255px" width="400px " style="margin-top: 1px; margin-left:1px;">
			</div>
			<div style="height:242px; width:485px; float:left;margin-top:8px; margin-left:20px;border: 1px black solid;">
				
				<p style="font-size:20px;"><strong>【法瑞秘境·冰雪假期】法国瑞士冬季休闲8天6晚·欧洲首家Four Seasons山区酒店+滑雪度假胜地+瑞士"国犬"亲子互动+“欧洲屋脊”霞慕尼+巴黎亲子迪士尼+官方讲解卢浮宫</strong></p>
				<div>
					<br>
				</div>
				<p style="font-size:12px;color:grey;">【冬日暖阳】甄选贵族富豪冬季度假胜地，阿尔卑斯山脚下尽享欧式休闲时光；<br>
				【甄选酒店】Four Seasons欧洲首家山区酒店，体验罗斯柴尔德家族的悠久历史；<br>
				【美景人文】南针峰远眺勃朗峰震撼山景，安纳西法式小镇风情，里昂历史名城；</p>
				<div>
					<p style="font-size: 14px;">
						出发时间：
					</p>
				</div>
			</div>
			
			<div style="width:235px; height: 64px; border: 1px black solid; float:left;margin-left:2px;margin-top: 100px;">
					<p style="font-size: 14px; ">
						价格：
					</p>
			</div>
		</div>
		<div style="width:1148px;height:259px;border: green 1px solid;position: relative;right:-15px;  margin-top:1px;background-color: white;">
			<div style="float: left;">
				<img src="../img/2-1-3.jpg" height="255px" width="400px " style="margin-top: 1px; margin-left:1px;">
			</div>
			<div style="height:242px; width:485px; float:left;margin-top:8px; margin-left:20px;border: 1px black solid;">
				<p style="font-size:20px;"><strong>【法瑞秘境·冰雪假期】法国瑞士冬季休闲8天6晚·欧洲首家Four Seasons山区酒店+滑雪度假胜地+瑞士"国犬"亲子互动+“欧洲屋脊”霞慕尼+巴黎亲子迪士尼+官方讲解卢浮宫</strong></p>
				<div>
					<br>
				</div>
				<p style="font-size:12px;color:grey;">【冬日暖阳】甄选贵族富豪冬季度假胜地，阿尔卑斯山脚下尽享欧式休闲时光；<br>
				【甄选酒店】Four Seasons欧洲首家山区酒店，体验罗斯柴尔德家族的悠久历史；<br>
				【美景人文】南针峰远眺勃朗峰震撼山景，安纳西法式小镇风情，里昂历史名城；</p>
				<div>
					<p style="font-size: 14px;">
						出发时间：
					</p>
				</div>	
			</div>
			
			<div style="width:235px; height: 64px; border: 1px black solid; float:left;margin-left:2px;margin-top: 100px;">
					<p style="font-size: 14px; ">
						价格：
					</p>
			</div>
		</div>
		<div style="width:1148px;height:259px;border: blue 1px solid;position: relative;right:-15px;  margin-top:1px;background-color: white;">
			<div style="float: left;">
				<img src="../img/2-1-4.jpg" height="255px" width="400px " style="margin-top: 1px; margin-left:1px;">
			</div>
			<div style="height:242px; width:485px; float:left;margin-top:8px; margin-left:20px;border: 1px black solid;">
				<p style="font-size:20px;"><strong>【法瑞秘境·冰雪假期】法国瑞士冬季休闲8天6晚·欧洲首家Four Seasons山区酒店+滑雪度假胜地+瑞士"国犬"亲子互动+“欧洲屋脊”霞慕尼+巴黎亲子迪士尼+官方讲解卢浮宫</strong></p>
				<div>
					<br>
				</div>
				<p style="font-size:12px;color:grey;">【冬日暖阳】甄选贵族富豪冬季度假胜地，阿尔卑斯山脚下尽享欧式休闲时光；<br>
				【甄选酒店】Four Seasons欧洲首家山区酒店，体验罗斯柴尔德家族的悠久历史；<br>
				【美景人文】南针峰远眺勃朗峰震撼山景，安纳西法式小镇风情，里昂历史名城；</p>
				<div>
					<p style="font-size: 14px;">
						出发时间：
					</p>
				</div>	
			</div>
			
			<div style="width:235px; height: 64px; border: 1px black solid; float:left;margin-left:2px;margin-top: 100px;">
					<p style="font-size: 14px; ">
						价格：
					</p>
			</div>
		</div>
	</div>
</div>
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="js/index.js"></script>

</body></html>
