<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>优游旅游网</title>
    <link href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
    <script src="../plugins/jquery/jquery.min.js"></script>
	<script src="../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="../js/index.js"></script>
    <style type="text/css">
    body{
    	background-image: url(../img/beijng.jpg);
    	background-repeat:repeat-x;
    	/*background-repeat:repeat-y;*/
    }
    
			.c1{
				 font-family:Verdana; font-size:8px; margin:0 auto;
				 margin: 0 auto; 
				 width:1300px;
				 height: 750px;
				 background-color: white;
				 position: relative;
				 top: -20px;
				 border: 1px solid red;
			}
			.c2{
				
			}
			.c3{
				
			}
			.c4{
				
			}
			.c5{
				
			}
			.c6{
				
			}
			
			}
			</style>
</head>
<body>
<nav id="yy_nav" class="navbar navbar-default" role="navigation">
	
    <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2 col-sm-10">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">优游旅游网</a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="myactive"><a href="#">首页</a></li>
                    <li><a href="#">选择目的地</a></li>
                    <li><a href="#">热门景点</a></li>
                    <li><a href="#">私人定制</a></li>
                    <li><a href="#">品牌理念</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-sm hidden-md">
                    <li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
                </ul>
            </div>
			</div>
           	
</nav>
      <div class="c1">
      	
      </div>  

</body>
</html>